{{ 'calendar.registration.title'|trans|raw }}
{{ 'calendar.registration.three.header'|trans({'%entry_number%': ref})|raw }}
<p style="text-align: center;">&laquo;&nbsp;<b>{{ calendar.libact }}</b>&nbsp;&raquo;<br>{{ 'filter.inner.date.in'|trans }} <b>{{ calendar.datdeb | localizeddate('medium', 'none', app.request.locale) }}</b> {{ 'filter.inner.date.out'|trans }} <b>{{ calendar.datfin | localizeddate('medium', 'none', app.request.locale) }}</b><br>{{ calendar.sitact == 'Font' ? 'registration.validation.address_fontanilles'|trans : 'registration.validation.address_rochedor'|trans }}</p>
<br>
<p>{{ 'calendar.registration.participants_list'|trans }}</p>
<table width="100%"> 
  <tr>
    <th>{{ 'calendar.registration.participant'|trans }}</th>
    <th>{{ 'calendar.registration.table.header.transport'|trans }}</th>
    <th>{{ 'calendar.registration.table.header.come'|trans }}</th>
    <th>{{ 'calendar.registration.table.header.schedule'|trans }}</th>
  </tr>  
  {% for attendee in attendees %}
    {% set transport = 'form.transport.' ~ attendee.transport|lower %}
    <tr>
      <td>{{ attendee.civil }} {{ attendee.nom }} {{ attendee.prenom }}</td>
      <td>{{ transport|trans }}</td>
      <td>{{ attendee.lieu|lower|trans }}</td>
      <td>{{ attendee.arriv }}</td>
    </tr>
  {% endfor %}
</table>
<br>
{{ 'calendar.registration.email.footer'|trans|raw }}