<p>Bonjour&nbsp;{{ contact.civil }}&nbsp;{{ contact.prenom }}&nbsp;{{ contact.nom }}</p>
<p><strong>Pour vous connecter :</strong></p>
<ul>
    <li>Votre <strong>identifiant temporaire</strong> est : <strong>{{ contact.username }}</strong><br><i>Vous pourrez le modifier si besoin dans le formulaire qui vous sera présenté avec vos données personnelles.</i></li><br>
    <li><strong>Pour réinitialiser votre mot de passe,</strong> cliquer sur le lien suivant qui est valide pendant 4h : <br><a href="{{ link }}">{{ link }}</a><br><i>Si ce lien ne fonctionne pas, veuillez copier cette adresse dans la barre de recherche de votre navigateur internet.</i></li>
</ul>
<p>En cas de souci, vous pouvez contacter la Roche d’Or au 03.81.41.47.47.</p>
