{% set civil = contact.civil %}
<p>Hola&nbsp;{{ civil|trans }}&nbsp;{{ contact.prenom }}&nbsp;{{ contact.nom }}</p>
<p><strong>Para conectarte :</strong></p>
<ul>
    <li>Su <strong>identificador temporal</strong> es : <strong>{{ contact.username }}</strong><br><i>Puede modificarlo si es necesario en el formulario que se le presentará con sus datos personales.</i></li><br>
    <li><strong>Para restablecer su contraseña,</strong> por favor haga clic en el siguiente enlace que será válido durante 4 horas : <br><a href="{{ link }}">{{ link }}</a><br><i>Si el enlace anterior no funciona, por favor copie esta dirección en su navegador.</i></li>
</ul>
<p>Si tiene algún problema, puede contactar con la Roche d'Or en el 0033 3.81.41.47.47.</p>
