{% set bodyClass="editions order" %}
{% set bodyBackground = 7 %}
{% block title %}{{ page.title ~ ' ' ~ page.subTitle }} - La Roche d'Or{% endblock %}
{% block metadescription %}<meta name="description" content="{{ page.description }}">{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/pure-css-grids.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/order.css") }}">
<link rel="stylesheet" href="{{ asset('assets/css/editions.css') }}">
{% endblock %}
{% block content %}
<div class="popup">
    <div class="overlay"></div>
    <div class="box">
        <div class="message"></div>
        <div class="button continue">{{ 'continue' | trans }}</div>
        <div class="button yes">{{ 'main.yes' | trans }}</div>
        <div class="button no">{{ 'main.no' | trans }}</div>
    </div>
</div>
<div class="content">
    <div class="left">
        <h1><small>{{ page.title }} </small>{{ page.subTitle }}</h1>
        {% if page.content.intro %}
        <div class="intro">
            {{ 'order.registration.intro'|trans({'%link%': path('calendar-' ~ app.request.locale)}) | raw }}
        </div>
        {% endif %}
        <div class="dropdown">
            <div class="item connection">
                <h2>{{ 'order.registration.one.title' | trans | raw }}</h2>
                {% if app.user %}
                <p>{{ 'order.registration.one.body.connected' | trans({ '%name%': app.user.prenom ~ ' ' ~ app.user.nom }) | raw }}</p>
                <div class="pure-g">
                    <div class="pure-u-1-3">
                        <a href="#continue" class="button continue">{{ 'form.continue' | trans | raw }}</a>
                    </div>
                    <div class="pure-u-1-3">
                        <a href="#disconnect" class="button disconnect">{{ 'form.disconnect' | trans | raw }}</a>
                    </div>
                </div>
                {% else %}
                <p>{{ 'order.registration.one.body.disconnected' | trans | raw }}</p>
                <div class="pure-g">
                    <div class="pure-u-4-24">
                        <a href="#connection" class="button yes">{{ 'form.yes' | trans | raw }}</a>
                    </div>
                    <div class="pure-u-4-24">
                        <a href="#registration" class="button no">{{ 'form.no' | trans | raw }}</a>
                    </div>
                </div>
                <div class="panel connection">
                    <h3>{{ 'order.registration.one.title.connection' | trans | raw }}</h3>
                    <form class="pure-g connection">
                        <div class="pure-u-1-2">
                            <input autocomplete="nope" class="input username" required type="text" name="username" placeholder="{{ 'form.username' | trans | raw }}">
                        </div>
                        <div class="pure-u-1-2">
                            <input autocomplete="nope" class="input password" required type="password" name="password" placeholder="{{ 'form.password' | trans | raw }}">
                        </div>
                        <div class="pure-u-4-24">
                            <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.ok' | trans | raw }}">
                        </div>
                    </form>
                    <a class="option" href="#reset">{{ 'form.password.reset'|trans }}</a>
                </div>
                <div class="panel registration">
                    <h3>{{ 'order.registration.one.title.registration' | trans | raw }}</h3>
                    <form class="pure-g you-form-render"></form>
                </div>
                <div class="panel reset">
                    <h3>{{ 'form.password.reset'|trans|raw }}</h3>
                    <form class="pure-g reset">
                        <div class="pure-u-1">
                            <input autocomplete="nope" class="input username" required type="text" name="username" placeholder="{{ 'form.username' | trans | raw }}">
                        </div>
                        <div class="pure-u-4-24">
                            <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.ok' | trans | raw }}">
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="item card">
                <h2>{{ 'order.registration.two.title' | trans | raw }}</h2>
                <div class="you-render"></div>
                <a href="#" class="modify-you">{{ 'form.update' | trans | raw }}</a>
                <div class="pure-g">
                    <div class="pure-u-1-3">
                        <a href="#continue" class="button continue">{{ 'form.continue' | trans | raw }}</a>
                    </div>
                </div>
                <div class="panel modify">
                    <h3>{{ 'order.registration.two.title.modify.you' | trans | raw }}</h3>
                    <form class="pure-g you-form-render"></form>
                </div>
            </div>
            <div class="item shipping">
                <h2>{{ 'order.registration.three.title' | trans | raw }}</h2>
                <div class="pure-g">
                    <div class="pure-u-1-3">
                        <select class="select white select-adliv" name="select_adliv" >
                            <option value="myAdd">{{ 'select.ad.myadd' | trans | raw }}</option>
                            <option value="Roche">{{ 'select.ad.roche' | trans | raw }}</option>
                            <option value="Font">{{ 'select.ad.font' | trans | raw }}</option>
                            <option value="Other">{{ 'select.ad.other' | trans | raw }}</option>
                        </select>
                    </div>
                </div>
                <div class="panel adliv active">
                    <form class="form adliv">
                        <h3>{{ 'order.choose.adliv' | trans | raw }}</h3>
                        <div class="adliv-form-render"></div>
                    </form>
                </div>
                <div class="panel gift active">
                    <h3>{{ 'order.registration.choose.gift' | trans | raw }}</h3>
                    <p>{{ 'order.gift.text' | trans | raw }}</p>
                    <form class="form gift">
                        <div class="pure-g">
                            <div class="pure-u-1-1">
                                <input class="input note" type="textarea" name="note" placeholder="{{ 'form.gift' | trans | raw }}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-3">
                        <a href="#continue" class="button continue">{{ 'form.continue' | trans | raw }}</a>
                    </div>
                </div>
            </div>
            <div class="item payment">
                <h2>{{ 'order.registration.four.title' | trans | raw }}</h2>
                <div class="pure-g">
                    <div class="pure-u-1-2">
                        <select class="select select-modpaie">
                            <option selected disabled value="">{{ 'form.choose.modpaie' | trans | raw }}</option>
                            <option value="PBX">{{ 'select.cb' | trans | raw }}</option>
                            <option value="PAYPAL">{{ 'select.paypal' | trans | raw }}</option>
                        </select>
                    </div>
                </div>
                <div class="pure-u-4-24">
                    <input class="input button submit process-order" type="submit" value="{{ 'form.ok' | trans | raw }}">
                </div>
            </div>
            <div class="item validation">
                <h2>{{ 'order.registration.five.title' | trans | raw }}</h2>
                <div class="result">
                    <p>{{ 'order.registration.five.body' | trans | raw }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
        <h3>{{ 'order.summary.title.cart' | trans | raw }}</h3>
        {% if cart %}
        <table class="table" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="first">{{ 'table.header.product' | trans }}</th>
                    <th>{{ 'table.header.price' | trans }}</th>
                    <th>{{ 'table.header.quantity' | trans }}</th>
                    <th class="last">{{ 'table.header.delete' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for line in cart.cartLines %}
                <tr>
                    <td class="first">{{ line.product.produitcourt }}</td>
                    <td>{{ line.product.prix }}</td>
                    <td>{{ line.quantity }}</td>
                    <td class="last"><a href="{{ path('cart-remove', { 'cartLine': line.id }) }}">{{ 'main.remove' | trans }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{ 'cart.empty'|trans }}</p>
        {% endif %}
        <div class="delivery-render"></div>
        <div class="total-render"></div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
<script type="text/json" class="locale-json">
    {{ currentLocale }}
</script>
<script type="text/template" class="you-template">
    <div class="you">
        <p><%= you.prenom %> <%= you.nom %><br>
            <%= you.adresse %> <%= you.cp %> <%= you.ville %> (<%= you.pays %>)</p>
    </div>
</script>
<script type="text/json" class="countries-json">
    {{ countries | json_encode() | raw }}
</script>
<script type="text/data" class="cart-data">
    {% if cart %}{{ cart.id }}{% endif %}
</script>
<script type="text/template" class="delivery-template">
    <h3>{{'order.summary.title.delivery' | trans}}</h3>
    <% if (delivery.adliv) { %>
        <p><b>Adresse de facturation</b><br>
            <%= you.prenom %> <%= you.nom %>
            <%= ' — ' %>
            <%= you.adresse %> <%= you.cp %> <%= you.ville %> (<%= you.pays %>)</p>
        <p><b>Adresse de livraison</b><br>
            <%= delivery.destliv === 'Roche' ? "Retrait à La Roche d'Or" : '' %>
            <%= delivery.destliv === 'Font' ? "Retrait aux Fontanilles" : '' %>
            <%= delivery.destliv === 'myAdd' ? (you.prenom + ' ' + you.nom) : '' %>
            <%= delivery.destliv === 'Other' ? (you.prenom + ' ' + you.nom) : '' %>
            <%= ' — ' %>
            <%= delivery.adliv.adresse %> <%= delivery.adliv.zipcode %> <%= delivery.adliv.city %> (<%= delivery.paysliv %>)</p>
    <% } else { %>
        <p>{{ 'order.summary.body.delivery' | trans | raw }}</p>
    <% } %>
</script>
<script type="text/template" class="total-template">
    <h3>{{ 'order.summary.title.total' | trans}}</h3>
    <% if (total.consumerPrice) { %>
    <div class="pure-g">
        <div class="pure-u-11-24">
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="first">{{ 'table.header.weight' | trans }}</th>
                        <th class="last">{{ 'table.header.total' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="first">Poid des articles</td>
                        <td class="last"><%= total.weightOrder %> g</td>
                    </tr>
                    <tr>
                        <td class="first">Poid de l'emballage</td>
                        <td class="last"><%= total.packagingWeight %> g</td>
                    </tr>
                    <tr>
                        <td class="first">Poid total</td>
                        <td class="last"><%= total.totalWeight %> g</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pure-u-2-24">
        </div>
        <div class="pure-u-11-24">
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="first">{{ 'table.header.price' | trans }}</th>
                        <th class="last">{{ 'table.header.total' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="first">Frais de port</td>
                        <td class="last"><%= total.portPriceIT %> €</td>
                    </tr>
                    <tr>
                        <td class="first">Prix total HT</td>
                        <td class="last"><%= total.consumerPrice %> €</td>
                    </tr>
                    <tr>
                        <td class="first">Prix de la TVA</td>
                        <td class="last"><%= total.vat %> €</td>
                    </tr>
                    <tr class="ttc">
                        <td class="first">Prix total TTC</td>
                        <td class="last"><%= total.consumerPriceIT %> €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } else { %>
    <p>{{ 'order.summary.body.total' | trans }}</p>
    <% } %>
</script>
<script type="text/template" class="registered-template">
    <% if (registered.length) { %>
        <% for (var i=0; i < registered.length; i++) { %>
        <% var him=registered[i] %>
            <div class="him">
                <p><%= him.prenom %> <%= him.nom %><br>
                    <%= him.adresse %> <%= him.cp %> <%= him.ville %> <%= him.pays %></p>
                <a href="#" data-id="<%= him.codcli %>" class="modify-him button">{{ 'form.modify' | trans | raw }}</a>
                <a href="#" data-id="<%= him.codcli %>" class="participate-him button radio <%= (him.check) ? 'checked' : '' %>">{{ 'form.participate' | trans | raw }}</a>
            </div>
        <% } %>
    <% } else { %>
        <p>{{ 'form.no_clients' | trans }}</p>
    <% } %>
</script>
<script type="text/template" class="adliv-form-template">
    <div class="pure-g">
        <div class="pure-u-1-2">
            <input class="input adresse" <%= (delivery.destliv == 'Other') ? '' : 'disabled' %> required type="text" name="adresse" value="<%= delivery.adliv.adresse %>" placeholder="{{ 'form.adresse' | trans | raw }}">
        </div>
        <div class="pure-u-1-2">
            <input class="input zipcode" <%= (delivery.destliv == 'Other') ? '' : 'disabled' %> required type="text" name="zipcode" value="<%= delivery.adliv.zipcode %>" placeholder="{{ 'form.zipcode' | trans | raw }}">
        </div>
        <div class="pure-u-1-2">
            <input class="input city" <%= (delivery.destliv == 'Other') ? '' : 'disabled' %> required type="text" name="city" value="<%= delivery.adliv.city %>" placeholder="{{ 'form.city' | trans | raw }}">
        </div>
        <div class="pure-u-1-2">
            <% var disableCountry = false %>
            <% for (var i = 0; i < countries.length; i++) { %>
                <% if (delivery.paysliv == countries[i].codpays) { %>
                    <% disableCountry = true %>
                <% } %>
            <% } %>
            <select class="select country" <%= (delivery.destliv == 'Roche' || delivery.destliv == 'Font' || disableCountry) ? 'disabled' : '' %> required name="paysliv">
                <option <%= !disableCountry ? 'selected' : '' %> disabled value="">{{ 'form.country' | trans | raw }}</option>
                <% for (var i = 0; i < countries.length; i++) { %>
                    <% var country = countries[i] %>
                    <option <%= (delivery.paysliv == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
                <% } %>
            </select>
        </div>
    </div>
</script>
<script type="text/template" class="you-form-template">
    <input autocomplete="nope" type="hidden" value="<%= client.codcli %>" name="codcli">
    <input autocomplete="nope" type="hidden" value=<%= client.check %> name="check">
    <div class="pure-u-1-3">
        <select class="select civil <%= (client.civil != '') ? 'white' : '' %>" required name="civil">
            <option <%= (client.civil == '') ? 'selected' : '' %> disabled value="">{{ 'form.civil' | trans | raw }}</option>
            <% for (var i = 0; i < civilites.length; i++) { %>
                <option <%= (client.civil == civilites[i]) ? 'selected' : '' %> value="<%= civilites[i] %>"><%= civilites[i] %></option>
            <% } %>
        </select>
    </div>
    <div class="pure-u-1-3">
        <input autocomplete="nope" class="input prenom" required type="text" value="<%= client.prenom %>" name="prenom" placeholder="{{ 'form.surname' | trans | raw }}">
    </div>
    <div class="pure-u-1-3">
        <input autocomplete="nope" class="input nom" required type="text" value="<%= client.nom %>" name="nom" placeholder="{{ 'form.name' | trans | raw }}">
    </div>
    <div class="pure-u-1">
        <textarea class="textarea adresse" required name="adresse" placeholder="{{ 'form.address' | trans | raw }}"><%= client.adresse %></textarea>
    </div>
    <div class="pure-u-1-3">
        <input autocomplete="nope" class="input cp" required type="text" value="<%= client.cp %>" name="cp" placeholder="{{ 'form.zipcode' | trans | raw }}">
    </div>
    <div class="pure-u-1-3">
        <input autocomplete="nope" class="input ville" required type="text" value="<%= client.ville %>" name="ville" placeholder="{{ 'form.city' | trans | raw }}">
    </div>
    <div class="pure-u-1-3">
        <% var countryNotFound = true %>
        <% for (var i = 0; i < countries.length; i++) { %>
            <% if (client.pays == countries[i].codpays) { %>
                <% countryNotFound = false %>
            <% } %>
        <% } %>
        <select class="select pays <%= (client.pays != '') ? 'white' : '' %>" required name="pays">
            <option <%= countryNotFound ? 'selected' : '' %> disabled value="">{{ 'form.country' | trans | raw }}</option>
            <% for (var i = 0; i < countries.length; i++) { %>
                <% var country = countries[i] %>
                <option <%= (client.pays == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
            <% } %>
        </select>
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input tel" type="number" value="<%= client.tel %>" name="tel" placeholder="{{ 'form.phone' | trans | raw }}">
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input mobil" type="number" value="<%= client.mobil %>" name="mobil" placeholder="{{ 'form.mobile' | trans | raw }}">
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input email" required type="email" value="<%= client.email %>" name="email" placeholder="{{ 'form.email' | trans | raw }}">
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input password" type="password" name="password" placeholder="{{ 'form.password' | trans | raw }}">
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input datnaiss" required type="text" value="<%= (client.datnaiss !== '') ? moment(client.datnaiss).format('DD/MM/YYYY') : '' %>" name="datnaiss" placeholder="{{ 'form.birthday' | trans | raw }}">
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input societe" type="text" value="<%= client.societe %>" name="societe" placeholder="{{ 'form.societe' | trans | raw }}">
    </div>
    <div class="pure-u-1">
        <input autocomplete="nope" class="input tvaintra" type="text" value="<%= client.tvaintra %>" name="tvaintra" placeholder="{{ 'form.tvaintra' | trans | raw }}">
    </div>
    <div class="pure-u-1">
        <hr>
    </div>
    <div class="pure-u-1">
        <textarea class="textarea memocli" name="memocli" placeholder="{{ 'form.memocli' | trans | raw }}"><%= client.memocli %></textarea>
    </div>
    <div class="pure-u-6-24">
        <input autocomplete="nope" class="input button submit" type="reset" value="{{ 'form.reset' | trans | raw }}">
    </div>
    <div class="pure-u-4-24">
        <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.submit' | trans | raw }}">
    </div>
</script>
<script type="text/template" class="delivery-form-template">
    <div class="pure-u-1-3">
        <input class="input adresse" required type="text" value="<%= delivery.adliv.adresse %>" name="adresse" placeholder="{{ 'form.adresse' | trans | raw }}">
    </div>
    <div class="pure-u-1-3">
        <input class="input zipcode" required type="text" value="<%= delivery.adliv.zipcode %>" name="zipcode" placeholder="{{ 'form.zipcode' | trans | raw }}">
    </div>
    <div class="pure-u-1-3">
        <input class="input city" required type="text" value="<%= delivery.adliv.city %>" name="zipcode" placeholder="{{ 'form.zipcode' | trans | raw }}">
    </div>
</script>
<script src="{{ asset("assets/js/order.js") }}"></script>
{% endblock %}