{% set bodyClass="editions order" %}
{% set bodyBackground = 7 %}
{% block title %}{{ page.title ~ ' ' ~ page.subTitle }} - La Roche d'Or{% endblock %}
{% block metadescription %}<meta name="description" content="{{ page.description }}">{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/order.css") }}">
<link rel="stylesheet" href="{{ asset('assets/css/editions.css') }}">
{% endblock %}
{% block content %}
{% include 'parts/loader.html.twig' %}
{% include 'parts/popup.html.twig' %}
<div class="content">
    <div class="left">
        <h1><small>{{ page.title }} </small>{{ page.subTitle }}</h1>
        {% if page.content.intro %}
        <div class="intro">
            {{ 'order.registration.intro'|trans({'%link%': path('calendar-' ~ app.request.locale)}) | raw }}
        </div>
        {% endif %}
        <div class="dropdown">
            <div class="item connection">
                <h2>{{ 'order.registration.one.title' | trans | raw }}</h2>
                {% if app.user %}
                <p>{{ 'order.registration.one.body.connected' | trans({ '%name%': app.user.prenom ~ ' ' ~ app.user.nom }) | raw }}</p>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3">
                        <a href="#continue" class="button continue">{{ 'form.continue' | trans | raw }}</a>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        <a href="#disconnect" class="button disconnect">{{ 'form.disconnect' | trans | raw }}</a>
                    </div>
                </div>
                {% else %}
                <p>{{ 'order.registration.one.body.disconnected' | trans | raw }}</p>
                <div class="pure-g">
                    <div class="pure-u-4-24">
                        <a href="#connection" class="button yes">{{ 'form.yes' | trans | raw }}</a>
                    </div>
                    <div class="pure-u-4-24">
                        <a href="#registration" class="button no">{{ 'form.no' | trans | raw }}</a>
                    </div>
                </div>
                <div class="panel connection">
                    <h3>{{ 'order.registration.one.title.connection' | trans | raw }}</h3>
                    <form class="pure-g connection">
                        <div class="pure-u-1-2">
                            <input autocomplete="nope" class="input username" required type="text" name="username" placeholder="* {{ 'form.username' | trans | raw }}">
                        </div>
                        <div class="pure-u-1-2">
                            <input autocomplete="nope" class="input password" required type="password" name="password" placeholder="* {{ 'form.password' | trans | raw }}">
                        </div>
                        <div class="pure-u-4-24">
                            <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.ok' | trans | raw }}">
                        </div>
                    </form>
                    <a class="option" href="#reset">{{ 'form.password.reset'|trans }}</a>
                </div>
                <div class="panel registration">
                    <h3>{{ 'order.registration.one.title.registration' | trans | raw }}</h3>
                    <form class="pure-g you-form-render"></form>
                </div>
                <div class="panel reset">
                    <h3>{{ 'form.password.reset'|trans|raw }}</h3>
                    <form class="pure-g reset">
                        <div class="pure-u-1">
                            <input autocomplete="nope" class="input email" required type="text" name="email" placeholder="* {{ 'form.email' | trans | raw }}">
                        </div>
                        <div class="pure-u-1">
                            <input autocomplete="nope" class="input firstname" required type="text" name="firstname" placeholder="* {{ 'form.firstname' | trans | raw }}">
                        </div>
                        <div class="pure-u-1">
                            <input autocomplete="nope" class="input lastname" required type="text" name="lastname" placeholder="* {{ 'form.lastname' | trans | raw }}">
                        </div>
                        <div class="pure-u-6-24">
                            <a href="#" class="button cancel input">{{ 'form.cancel' | trans | raw }}</a>
                        </div>
                        <div class="pure-u-4-24">
                            <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.ok' | trans | raw }}">
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="item card">
                <h2 class="you-title">{{ 'order.registration.two.title' | trans | raw }}<span>{{ 'form.modify' | trans | raw }}</span></h2>
                <div class="you-render"></div>
                <a href="#" class="modify-you">{{ 'form.update' | trans | raw }}</a>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3">
                        <a href="#continue" class="button continue">{{ 'form.continue' | trans | raw }}</a>
                    </div>
                </div>
                <div class="panel modify">
                    <h3>{{ 'order.registration.two.title.modify.you' | trans | raw }}</h3>
                    <form class="pure-g you-form-render"></form>
                </div>
            </div>
            <div class="item shipping">
                <h2>{{ 'order.registration.three.title' | trans | raw }}</h2>
                <div class="pure-g">
                    <div class="pure-u-1-2">
                        <select class="select white select-adliv" name="select_adliv" >
                            <option value="myAd">{{ 'select.ad.myAd' | trans | raw }}</option>
                            <option value="Roche">{{ 'select.ad.roche' | trans | raw }}</option>
                            <option value="Font">{{ 'select.ad.font' | trans | raw }}</option>
                            <option value="Other">{{ 'select.ad.other' | trans | raw }}</option>
                        </select>
                    </div>
                </div>
                <div class="panel adliv active">
                    <form class="form adliv">
                        <h3>{{ 'order.choose.adliv' | trans | raw }}</h3>
                        <div class="adliv-form-render"></div>
                    </form>
                </div>
                <div class="panel gift active">
                    <h3>{{ 'order.registration.choose.gift' | trans | raw }}</h3>
                    <p>{{ 'order.gift.text' | trans | raw }}</p>
                    <form class="form gift">
                        <div class="pure-g">
                            <div class="pure-u-1-1">
                                <input class="input note" type="textarea" name="note" placeholder="{{ 'form.gift' | trans | raw }}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3">
                        <a href="#continue" class="button continue">{{ 'form.continue' | trans | raw }}</a>
                    </div>
                </div>
            </div>
            <div class="item terms">
                <h2>{{ 'order.accept-terms.title' | trans }}</h3>
                <div class="panel terms active">
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            {% set terms_link = 'getterms' %}
                            <p>
                                {# <a class="accept-terms-link" target="_blank" href="{{ terms_link }}">{{ 'order.accept-terms.link' | trans | raw }}</a> #}                               
                                {{ 'order.accept-terms.disclaimer' | trans({'%link%': terms_link}) | raw }}
                            </p>
                            <a href="#" class="accept-terms button radio">{{ 'order.accept-terms.label' | trans | raw }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item payment">
                <h2>{{ 'order.registration.four.title' | trans | raw }}</h2>
                <div class="panel payment active">
                    <form class="form payment">
                        <h3>{{ 'order.choose.payment' | trans | raw }}</h3>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <select class="select select-modpaie" required>
                                    <option selected disabled value="">{{ 'form.choose.modpaie' | trans | raw }}</option>
                                    <option value="PBX">{{ 'select.cb' | trans | raw }}</option>
                                    <option value="PAYPAL">{{ 'select.paypal' | trans | raw }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-10-24">
                                {% if routeExists('securite-donnees') %}
                                    {% set secure_link = path('securite-donnees') %}
                                {% else %}
                                    {% set secure_link = '#' %}
                                {% endif %}
                                <a href="{{ secure_link }}" target="_blank" class="button input secure-link">{{ 'global.secure-datas'|trans }}</a>
                            </div>
                            <div class="pure-u-10-24">
                            </div>
                            <div class="pure-u-4-24">
                                <input class="input button submit" disabled type="submit" value="{{ 'form.ok' | trans | raw }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
        <h3>{{ 'order.summary.title.cart' | trans | raw }}</h3>
        {% if cart %}
        <table class="table" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="first">{{ 'table.header.product' | trans }}</th>
                    <th>{{ 'table.header.price' | trans }}</th>
                    <th>{{ 'table.header.quantity' | trans }}</th>
                    <th class="last">{{ 'table.header.delete' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for line in cart.cartLines %}
                <tr>
                    <td class="first">{{ line.product.produitcourt }}</td>
                    <td>{{ line.product.prix }}</td>
                    <td>{{ line.quantity }}</td>
                    <td class="last"><a href="{{ path('cart-remove', { 'cartLine': line.id }) }}">{{ 'main.remove' | trans }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{ 'cart.empty'|trans }}</p>
        {% endif %}
        <div class="delivery-render"></div>
        <div class="total-render"></div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
<script type="application/json" class="locale-json">
    {{ currentLocale }}
</script>
<script type="application/json" class="countries-json">
    {{ countries | json_encode() | raw }}
</script>
<script type="application/json" class="cart-json">
    {% if cart %}{{ cart.id }}{% endif %}
</script>
<script type="text/template" class="you-template">
    <div class="you">
        <p><%= _.escape(you.prenom) %> <%= _.escape(you.nom) %><br>
            <%= _.escape(you.adresse) %> <%= _.escape(you.cp) %> <%= _.escape(you.ville) %> (<%= _.escape(you.pays) %>)</p>
    </div>
</script>
<script type="text/template" class="delivery-template">
    <h3>{{'order.summary.title.delivery' | trans}}</h3>
    <% if (delivery.adliv) { %>
        <p><b>Adresse de facturation</b><br>
            <%= _.escape(you.prenom) %> <%= _.escape(you.nom) %>
            <%= ' — ' %>
            <%= _.escape(you.adresse) %> <%= _.escape(you.cp) %> <%= _.escape(you.ville) %> (<%= _.escape(you.pays) %>)</p>
        <p><b>Adresse de livraison</b><br>
            <%= delivery.destliv === 'Roche' ? "Retrait à La Roche d'Or" : '' %>
            <%= delivery.destliv === 'Font' ? "Retrait aux Fontanilles" : '' %>
            <%= delivery.destliv === 'myAd' ? (you.prenom + ' ' + you.nom) : '' %>
            <%= delivery.destliv === 'Other' ? (you.prenom + ' ' + you.nom) : '' %>
            <%= ' — ' %>
            <%= delivery.adliv.adresse %> <%= delivery.adliv.zipcode %> <%= delivery.adliv.city %> (<%= delivery.paysliv %>)</p>
    <% } else { %>
        <p>{{ 'order.summary.body.delivery' | trans | raw }}</p>
    <% } %>
</script>
<script type="text/template" class="total-template">
    <h3>{{ 'order.summary.title.total' | trans}}</h3>
    <% if (total.consumerPrice) { %>
    <div class="pure-g">
        <div class="pure-u-11-24">
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="first">{{ 'table.header.weight' | trans }}</th>
                        <th class="last">{{ 'table.header.total' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="first">{{ 'table.label.weightOrder' | trans }}</td>
                        <td class="last"><%= total.weightOrder %> g</td>
                    </tr>
                    <tr>
                        <td class="first">{{ 'table.label.packagingWeight' | trans }}</td>
                        <td class="last"><%= total.packagingWeight %> g</td>
                    </tr>
                    <tr>
                        <td class="first">{{ 'table.label.totalWeight' | trans }}</td>
                        <td class="last"><%= total.totalWeight %> g</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pure-u-2-24">
        </div>
        <div class="pure-u-11-24">
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="first">{{ 'table.header.price' | trans }}</th>
                        <th class="last">{{ 'table.header.total' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="first">{{ 'table.label.totalPriceIT' | trans }}</td>
                        <td class="last"><%= parseFloat(total.totalPriceIT).toFixed(2) %> €</td>
                    </tr>
                    <tr>
                        <td class="first">{{ 'table.label.vat' | trans }}</td>
                        <td class="last"><%= parseFloat(total.vat).toFixed(2) %> €</td>
                    </tr>
                    <tr>
                        <td class="first">{{ 'table.label.shippingPriceIT' | trans }}</td>
                        <td class="last"><%= parseFloat(total.shippingPriceIT).toFixed(2) %> €</td>
                    </tr>
                    <tr class="ttc">
                        <td class="first">{{ 'table.label.consumerPriceIT' | trans }}</td>
                        <td class="last"><%= parseFloat(total.consumerPriceIT).toFixed(2) %> €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } else { %>
    <p>{{ 'order.summary.body.total' | trans }}</p>
    <% } %>
</script>
<script type="text/template" class="registered-template">
    <% if (registered.length) { %>
        <% for (var i=0; i < registered.length; i++) { %>
        <% var him=registered[i] %>
            <div class="him">
                <p><%= him.prenom %> <%= him.nom %><br>
                    <%= him.adresse %> <%= him.cp %> <%= him.ville %> <%= him.pays %></p>
                <a href="#" data-id="<%= him.codcli %>" class="modify-him button">{{ 'form.modify' | trans | raw }}</a>
                <a href="#" data-id="<%= him.codcli %>" class="participate-him button radio <%= (him.check) ? 'checked' : '' %>">{{ 'form.participate' | trans | raw }}</a>
            </div>
        <% } %>
    <% } else { %>
        <p>{{ 'form.no_clients' | trans }}</p>
    <% } %>
</script>
<script type="text/template" class="adliv-form-template">
    <div class="pure-g">
        <div class="pure-u-1-2">
            <input class="input adresse" <%= (delivery.destliv == 'Other') ? '' : 'disabled' %> required type="text" name="adresse" value="<%= _.escape(delivery.adliv.adresse) %>" placeholder="* {{ 'form.adresse' | trans | raw }}">
        </div>
        <div class="pure-u-1-2">
            <input class="input zipcode" <%= (delivery.destliv == 'Other') ? '' : 'disabled' %> required type="text" name="zipcode" value="<%= _.escape(delivery.adliv.zipcode) %>" placeholder="* {{ 'form.zipcode' | trans | raw }}">
        </div>
        <div class="pure-u-1-2">
            <input class="input city" <%= (delivery.destliv == 'Other') ? '' : 'disabled' %> required type="text" name="city" value="<%= _.escape(delivery.adliv.city) %>" placeholder="* {{ 'form.city' | trans | raw }}">
        </div>
        <div class="pure-u-1-2">
            <% var disableCountry = false %>
            <% for (var i = 0; i < countries.length; i++) { %>
                <% if (delivery.paysliv == countries[i].codpays) { %>
                    <% disableCountry = true %>
                <% } %>
            <% } %>
            <select class="select country" <%= (delivery.destliv == 'Roche' || delivery.destliv == 'Font' || disableCountry) ? 'disabled' : '' %> required name="paysliv">
                <option <%= !disableCountry ? 'selected' : '' %> disabled value="">* {{ 'form.country' | trans | raw }}</option>
                <% for (var i = 0; i < countries.length; i++) { %>
                    <% var country = countries[i] %>
                    <option <%= (delivery.paysliv == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
                <% } %>
            </select>
        </div>
    </div>
</script>
<script type="text/template" class="you-form-template">
    <input autocomplete="nope" type="hidden" value="<%= client.codcli %>" name="codcli">
    <input autocomplete="nope" type="hidden" value=<%= client.check %> name="check">
    <div class="pure-u-1 newfich-wrapper">
        <a href="#" class="input button radio newfich <%= (client.professionnel === true) ? 'checked' : '' %>" >{{ 'form.pro' | trans | raw }}</a>
        <input class="hidden checkbox newfich" value="<%= _.escape(client.professionnel) %>" name="professionnel" type="text" >
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input societe" type="text" value="<%= _.escape(client.societe) %>" name="societe" placeholder="{{ 'form.societe' | trans | raw }}">
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input tvaintra" type="text" value="<%= _.escape(client.tvaintra) %>" name="tvaintra" placeholder="{{ 'form.tvaintra' | trans | raw }}" >
    </div>
    <div class="pure-u-1">
        <hr>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <select class="select civil <%= (client.civil != '') ? 'white' : '' %>" required name="civil">
            <option <%= (client.civil == '') ? 'selected' : '' %> disabled value="">* {{ 'form.civil' | trans | raw }}</option>
            <% for (var i = 0; i < civilites.length; i++) { %>
                <option <%= (client.civil == civilites[i]) ? 'selected' : '' %> value="<%= civilites[i] %>"><%= civilites[i] %></option>
            <% } %>
        </select>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <input autocomplete="nope" class="input prenom" required type="text" value="<%= _.escape(client.prenom) %>" name="prenom" placeholder="* {{ 'form.surname' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <input autocomplete="nope" class="input nom" required type="text" value="<%= _.escape(client.nom) %>" name="nom" placeholder="* {{ 'form.name' | trans | raw }}">
    </div>
    <div class="pure-u-1">
        <textarea class="textarea adresse" required name="adresse" placeholder="* {{ 'form.address' | trans | raw }}"><%= _.escape(client.adresse) %></textarea>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <input autocomplete="nope" class="input cp" required type="text" value="<%= _.escape(client.cp) %>" name="cp" placeholder="* {{ 'form.zipcode' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <input autocomplete="nope" class="input ville" required type="text" value="<%= _.escape(client.ville) %>" name="ville" placeholder="* {{ 'form.city' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <% var countryNotFound = true %>
        <% for (var i = 0; i < countries.length; i++) { %>
            <% if (_.escape(client.pays) == countries[i].codpays) { %>
                <% countryNotFound = false %>
            <% } %>
        <% } %>
        <select class="select pays <%= (_.escape(client.pays) != '') ? 'white' : '' %>" required name="pays">
            <option <%= countryNotFound ? 'selected' : '' %> disabled value="">* {{ 'form.country' | trans | raw }}</option>
            <% for (var i = 0; i < countries.length; i++) { %>
                <% var country = countries[i] %>
                <option <%= (_.escape(client.pays) == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
            <% } %>
        </select>
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input tel" type="text" pattern="([0-9][\s]?)+" value="<%= _.escape(client.tel) %>" name="tel" placeholder="* {{ 'form.phone' | trans | raw }}">
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input mobil" type="text" pattern="([0-9][\s]?)+" value="<%= _.escape(client.mobil) %>" name="mobil" placeholder="{{ 'form.mobile' | trans | raw }}">
    </div>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input email" required type="email" value="<%= _.escape(client.email) %>" name="email" placeholder="* {{ 'form.email' | trans | raw }}">
    </div>
    <% if (!client.codcli) { %>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input username" required type="username" value="<%= _.escape(client.username) %>" name="username" placeholder="* {{ 'form.username' | trans | raw }}">
    </div>
    <% } %>
    <% if (!client.codcli) { %>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input password" type="password" name="password" placeholder="* {{ 'form.password-height' | trans | raw }}">
    </div>
    <% } else { %>
    <div class="pure-u-1-2">
        <input autocomplete="nope" class="input password" type="password" name="password" placeholder="{{ 'form.keep-password' | trans | raw }}">
    </div>
    <% } %>
    <div class="pure-u-1">
        <hr>
    </div>
    <div class="pure-u-1">
        <textarea class="textarea memocli" name="memocli" placeholder="{{ 'form.memocli' | trans | raw }}"><%= _.escape(client.memocli) %></textarea>
    </div>
    <div class="pure-u-4-24">
        <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.submit' | trans | raw }}">
    </div>
</script>
<script type="text/template" class="delivery-form-template">
    <div class="pure-u-1 pure-u-md-1-3">
        <input class="input adresse" required type="text" value="<%= delivery.adliv.adresse %>" name="adresse" placeholder="* {{ 'form.adresse' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <input class="input zipcode" required type="text" value="<%= delivery.adliv.zipcode %>" name="zipcode" placeholder="* {{ 'form.zipcode' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <input class="input city" required type="text" value="<%= delivery.adliv.city %>" name="zipcode" placeholder="* {{ 'form.zipcode' | trans | raw }}">
    </div>
</script>
<script src="{{ asset("assets/js/order.js") }}"></script>
{% endblock %}