{% set bodyClass = "page editions" %}
{% set bodyBackground = 7 %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/editions.css') }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="left">
        <h1>{{ 'order-return.title' | trans | raw }}</h1>
        <div class="intro">
            {% if status == 'success' %}
            {{ 'order-return.success-p1'| trans({'%refCom%': refCom , '%addCom%': addCom})|raw  }}
            <br>
            {{ 'order-return.success' | trans({'%link%': path('collections-' ~ app.request.locale)}) | raw }}
            {% elseif status == 'cancel' %}
            {{ 'order-return.cancel' | trans({'%link%': path('order-' ~ app.request.locale)}) | raw }}
            {% endif %}
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
    </div>
</div>
{% endblock %}