<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}La Roche d'Or{% endblock %}</title>
    <link rel="stylesheet" href="https://use.typekit.net/ozm6rkb.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="{{ asset("assets/css/main.css") }}">
    {% block metadescription %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
{% if bodyClass == 'home' %}
<body class="home">
{% else %}
<body class="{{ bodyClass|default('') }}" style="{{ bodyBackground|default(0)|constantBackground }}">
{% endif %}
{% if app.request.attributes.get('_route_params') and app.request.attributes.get('_route') %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% else %}
    {% set currentPath = null %}
{% endif %}
{% set currentLocale = app.request.locale %}
{% include 'parts/header.html.twig' %}
{% block content %}{% endblock %}
{% include 'parts/footer.html.twig' %}
{% set flashbags = [] %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% set flashbags = flashbags|merge([message|trans]) %}
    {% endfor %}
{% endfor %}
<script type="application/json" class="locale-json">{{ currentLocale }}</script>
<script>
    var flashbags = {{ flashbags|json_encode()|raw }}
</script>
<script src="{{ asset('assets/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>