{% set bodyClass = "page" %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/calendar-registration.css") }}">
{% endblock %}
{% block content %}
{% include 'parts/loader.html.twig' %}
{% include 'parts/popup.html.twig' %}
<div class="content calendar-registration">
    <div class="left">
        <h1><small>{{ page.title }} </small>{{ page.subTitle }}</h1>
        <div class="intro">
            {{ 'calendar.registration.intro'|trans({'%link%': path('calendar-choice-site-' ~ app.request.locale), '%location%': ('calendar.registration.intro.' ~ activity.sitact)|trans}) | raw }}
        </div>
        <div class="dropdown without-link">
            <div class="item connection">
                <h2>{{ 'calendar.registration.one.title' | trans | raw }}</h2>
                {% if app.user %}
                <p>{{ 'calendar.registration.one.body.connected' | trans({ '%name%': app.user.prenom ~ ' ' ~ app.user.nom }) | raw }}</p>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
                        <a href="#disconnect" class="button disconnect">{{ 'form.disconnect' | trans | raw }}</a>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
                        <a href="#continue" class="button continue submit">{{ 'form.continue' | trans | raw }}</a>
                    </div>
                </div>
                {% else %}
                <p>{{ 'calendar.registration.one.body.disconnected' | trans | raw }}</p>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-4">
                        <a href="#connection" class="button yes validation">{{ 'form.yes' | trans | raw }}</a>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-4">
                        <a href="#registration" class="button no validation">{{ 'form.no' | trans | raw }}</a>
                    </div>
                </div>
                <div class="panel connection">
                    <h3>{{ 'calendar.registration.one.title.connection' | trans | raw }}</h3>
                    <form class="pure-g connection">
                        <div class="pure-u-1 pure-u-md-1-2">
                            <input class="input username" type="text" name="username" placeholder="* {{ 'form.username' | trans | raw }}">
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2 password-container">
                            <input class="input password" type="password" name="password" placeholder="* {{ 'form.password-login' | trans | raw }}">
                            <a class="toggle-password"></a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-4">
                            <input autocomplete="off" class="input button submit" type="submit" value="{{ 'form.ok' | trans | raw }}">
                        </div>
                    </form>
                    <p>{{ 'form.password.reset.before'|trans }} <a class="option" href="#reset" rel="nofollow">{{ 'form.password.reset'|trans }}</a></p>
                </div>
                <div class="panel registration">
                    <h3>{{ 'calendar.registration.one.title.registration' | trans | raw }}</h3>
                    <form class="pure-g you-form-render"></form>
                </div>
                <div class="panel reset">
                    <h3>{{ 'form.password.reset'|trans|raw }}</h3>
                    <form class="pure-g reset">
                        <div class="pure-u-1 pure-u-md-1">
                            <input autocomplete="off" class="input username" type="text" name="username" placeholder="* {{ 'form.email.please' | trans | raw }}">
                        </div>
                        <div class="pure-u-1 pure-u-md-1">
                            <input autocomplete="off" class="input lastname" type="text" name="lastname" placeholder="* {{ 'form.lastname.please' | trans | raw }}">
                        </div>
                        <div class="pure-u-1 pure-u-md-1">
                            <input autocomplete="off" class="input firstname" type="text" name="firstname" placeholder="* {{ 'form.firstname.please' | trans | raw }}">
                        </div>
                        <div class="pure-u-1 pure-u-md-6-24">
                            <a href="#" class="button cancel input">{{ 'form.cancel' | trans | raw }}</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-4">
                            <input autocomplete="off" class="input button submit" type="submit" value="{{ 'form.ok' | trans | raw }}">
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="item participants">
                <h2>{{ 'calendar.registration.two.title' | trans | raw }}</h2>
                <div class="item-content">
                    <div class="panel you">
                        <h3>{{ 'calendar.registration.two.title.modify.you' | trans | raw }}</h3>
                        <form class="pure-g you-form-render"></form>
                    </div>
                    <div class="panel add">
                        <h3>{{ 'calendar.registration.two.title.registration' | trans | raw }}</h3>
                        <form class="pure-g him-form-render"></form>
                    </div>
                    <div class="panel him">
                        <h3>{{ 'calendar.registration.two.title.modify.him' | trans | raw }}</h3>
                        <form class="pure-g him-form-render"></form>
                    </div>
                    <div class="you-render"></div>
                    <div class="registered-render"></div>
                    <h3 class="went-title" data-tooltip class="top" tabindex="2" title="{{ 'calendar.registration.tooltip' | trans | raw }}">{{ 'calendar.registration.two.title.went' | trans | raw }}</h3>
                    <div class="went-render"></div>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                            <a title="{{ 'calendar.registration.logout-tooltip' | trans | raw }}" href="{{ path('cancel_registration') }}" class="cancel-registration button" rel="nofollow">{{ 'form.cancel' | trans | raw }}</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <a href="#" class="add-participant button" rel="nofollow">{{ 'calendar.registration.two.add_participant' | trans | raw }}</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <a href="#" class="validate-participants button submit disabled" rel="nofollow" title="{{ 'calendar.registration.validation-tooltip' | trans }}">{{ 'calendar.registration.two.validate_participants' | trans | raw }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item validation">
                <h2>{{ 'calendar.registration.three.title' | trans | raw }}</h2>
                <div class="item-content">
                    <div class="result">
                        {{ 'calendar.registration.title' | trans | raw }}
                        {{ 'calendar.registration.three.header' | trans | raw }}
                        <p class="text-center"><strong>"{{ activity.libact }}"</strong><br>{{ 'filter.inner.date.in' | trans | raw }}<strong> {{ activity.datdeb | localizeddate('medium', 'none', app.request.locale ) }}</strong> {{ 'filter.inner.date.out' | trans | lower | raw }} <strong>{{ activity.datfin | localizeddate('medium', 'none', app.request.locale ) }}</strong> ({{ activity.sitact }})</p>
                        <table class="tab-end-message">
                            <thead>
                                <tr>
                                    <th>{{'calendar.registration.participant'|trans}}</th>
                                    <th>{{'calendar.registration.table.header.transport'|trans}}</th>
                                    <th>{{'calendar.registration.table.header.come'|trans}}</th>
                                    <th>{{'calendar.registration.table.header.schedule'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody class="end-message-render">
                            </tbody>
                        </table>
                        {{ 'calendar.registration.three.body' | trans | raw }}
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
                                <p><a class="button" href="{{ path('logout-message', {'from': 'calendar'}) }}">{{ 'logout.disconnect.title' | trans }}</a></p>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
                                <p><a class="button" href="{{ path('calendar-choice-site-' ~ currentLocale) }}">{{ 'calendar' | trans }}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
        <h2>{{ 'calendar.registration.summary.title' | trans | raw }}</h2>
        <h3>{{ 'calendar.registration.summary.title.retreat' | trans | raw }}</h3>
        <p>{{ activity.libact }}<br>{{ 'filter.inner.date.in' | trans | raw }} {{ activity.datdeb | localizeddate('medium', 'none', app.request.locale ) }} {{ 'filter.inner.date.out' | trans | lower | raw }} {{ activity.datfin | localizeddate('medium', 'none', app.request.locale ) }} ({{ activity.sitact }})</p>
        <h3>{{ 'calendar.registration.summary.title.participants' | trans | raw }}</h3>
        <div class="participants-render"><p>{{ 'form.no_participants' | trans }}</p></div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
<script type="text/json" class="infos-json">
    {{ activity | json_encode() | raw }}
</script>
<script type="text/json" class="countries-json">
    {{ countries | json_encode() | raw }}
</script>
<script type="text/json" class="preferred-countries-json">
    {{ preferredCountries | json_encode() | raw }}
</script>
<script type="text/json" class="locale-json">
    {{ currentLocale }}
</script>
<script type="text/template" class="you-template">
    <div class="you">
        <p><%= _.escape(you.civil) %> <%= _.escape(you.prenom) %> <%= _.escape(you.nom) %><br>
            <%= _.escape(you.adresse) %> <%= _.escape(you.cp) %> <%= _.escape(you.ville) %> (<%= _.escape(you.pays) %>)</p>
        <a href="#" data-id="<%= _.escape(you.codco) %>" class="modify-you button">{{ 'form.modify' | trans | raw }}</a>
        <a href="#" class="button radio hidden <%= (you.check) ? 'checked' : '' %>">{{ 'form.participate' | trans | raw }}</a>
    </div>
</script>
<script type="text/template" class="participants-template">
    <% if (participants.length) { %>
        <% for (var i = 0; i < participants.length; i++) { %>
            <% var him = participants[i] %>
            <div class="him">
                <p><%= _.escape(him.civil) %> <%= _.escape(him.prenom) %> <%= _.escape(him.nom) %><br>
                    <% if (him.adresse) { %>
                    <%= _.escape(him.adresse) %> <%= _.escape(him.cp) %> <%= _.escape(him.ville) %> <%= (him.pays) ? '('+_.escape(him.pays)+')': '' %><br>
                    <% } %>
                    <%= transports[_.escape(him.transport)] %></p>
                    <div class="error-message<%= him.transport !== '' ? ' hidden' : '' %>">{{ 'form.message.no_transport'|trans|capitalize }}</div>
            </div>
        <% } %>
    <% } %>
</script>
<script type="text/template" class="registered-template">
    <% if (registered.length) { %>
        <% for (var i = 0; i < registered.length; i++) { %>
        <% var him = registered[i] %>
        <div class="him">
            <p><%= _.escape(him.civil) %> <%= _.escape(him.prenom) %> <%= _.escape(him.nom) %><br>
                <%= _.escape(him.adresse) %> <%= _.escape(him.cp) %> <%= _.escape(him.ville) %> <%= (him.pays) ? '('+_.escape(him.pays)+')': '' %></p>
            <a href="#" data-id="<%= _.escape(him.codco) %>" class="modify-him button" rel="nofollow">{{ 'form.modify' | trans | raw }}</a>
        </div>
        <% } %>
    <% } %>
</script>
<script type="text/template" class="went-template">
    <% if (registered.length) { %>
        <% for (var i = 0; i < registered.length; i++) { %>
        <% var him = registered[i] %>
            <div class="him <%= him.added && 'added'%>">
                <p><%= _.escape(him.civil) %> <%= _.escape(him.prenom) %> <%= _.escape(him.nom) %><br>
                    <%= _.escape(him.adresse) %> <%= _.escape(him.cp) %> <%= _.escape(him.ville) %> <%= (him.pays) ? '('+_.escape(him.pays)+')': '' %></p>
                <a href="#" data-id="<%= _.escape(him.codco) %>" class="participate-him button" rel="nofollow">{{ 'form.participate' | trans | raw }}</a>
            </div>
        <% } %>
    <% } %>
</script>
<script type="text/template" class="you-form-template">
    <input autocomplete="off" type="hidden" value="<%= _.escape(participant.codco) %>" name="codco">
    <input autocomplete="off" type="hidden" value=<%= participant.check %> name="check">
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <select class="select civil <%= (_.escape(participant.civil) != '') ? 'white' : '' %><%= errors.civil && ' error' %>" name="civil">
            <option <%= (_.escape(participant.civil) == '') ? 'selected' : '' %> disabled value="">* {{ 'form.civil' | trans | raw }}</option>
            <% for (var i = 0; i < civilites.length; i++) { %>
                <option <%= (_.escape(participant.civil) == civilites[i]) ? 'selected' : '' %> value="<%= civilites[i] %>"><%= civilites[i] %></option>
            <% } %>
        </select>
        <div class="error-message"><%= errors.civil %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input prenom<%= errors.prenom && ' error' %>" type="text" value="<%= _.escape(participant.prenom) %>" name="prenom" placeholder="* {{ 'form.surname' | trans | raw }}">
        <div class="error-message"><%= errors.prenom %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input nom<%= errors.nom && ' error' %>" type="text" value="<%= _.escape(participant.nom) %>" name="nom" placeholder="* {{ 'form.name' | trans | raw }}">
        <div class="error-message"><%= errors.nom %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <textarea class="textarea adresse<%= errors.adresse && ' error' %>" name="adresse" placeholder="* {{ 'form.address' | trans | raw }}"><%= _.escape(participant.adresse) %></textarea>
        <div class="error-message"><%= errors.adresse %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input cp<%= errors.cp && ' error' %>" type="text" value="<%= _.escape(participant.cp) %>" name="cp" placeholder="* {{ 'form.zipcode' | trans | raw }}">
        <div class="error-message"><%= errors.cp %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input ville<%= errors.ville && ' error' %>" type="text" value="<%= _.escape(participant.ville) %>" name="ville" placeholder="* {{ 'form.city' | trans | raw }}">
        <div class="error-message"><%= errors.ville %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <select class="select pays <%= (_.escape(participant.pays) != '') ? 'white' : '' %><%= errors.pays && ' error' %>" name="pays" placeholder="sdfsdf">
            <option <%= (_.escape(participant.pays) == '') ? 'selected' : '' %> disabled value="">* {{ 'form.country' | trans | raw }}</option>
            <% for (var i = 0; i < preferredCountries.length; i++) { %>
                <% var country = preferredCountries[i] %>
                <% var selectedCountry = 'FR' %>
                <% if (_.escape(participant.pays) != '') { selectedCountry = _.escape(participant.pays) } %>
                <option <%= (selectedCountry == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
            <% } %>
            <option disabled>----------</option>
            <% for (var i = 0; i < countries.length; i++) { %>
                <% var country = countries[i] %>
                <option <%= (_.escape(participant.pays) == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
            <% } %>
        </select>
        <div class="error-message"><%= errors.pays %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="off" class="input mobil" type="text" pattern="([0-9][\s]?)+" value="<%= _.escape(participant.mobil) %>" name="mobil" placeholder="* {{ 'form.mobile' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="off" class="input tel<%= errors.tel && ' error' %>" type="text" pattern="([0-9][\s]?)+" value="<%= _.escape(participant.tel) %>" name="tel" placeholder="* {{ 'form.phone' | trans | raw }}">
        <div class="error-message"><%= errors.tel %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="off" class="input email<%= errors.email && ' error' %>" type="email" value="<%= _.escape(participant.email) %>" name="email" placeholder="* {{ 'form.email' | trans | raw }}" maxlength="40">
        <div class="error-message"><%= errors.email %></div>
    </div>
       <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="off" data-inputmask="'mask': '99/99/9999'" data-inputmask-showmaskonfocus="false"  class="input datnaiss<%= errors.datnaiss && ' error' %>" type="text" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="<%= (_.escape(participant.datnaiss) !== '') ? moment(_.escape(participant.datnaiss)).format('DD/MM/YYYY') : '' %>" name="datnaiss" placeholder="* {{ 'form.birthday' | trans | raw }}">
        <div class="error-message"><%= errors.datnaiss %></div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="off" class="input username<%= errors.username && ' error' %>" type="text" value="<%= _.escape(participant.username) %>" name="username" placeholder="* {{ 'form.username' | trans | raw }}">
        <div class="error-message"><%= errors.username %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <a href="{{ localePath('aide-saisie', app.request.locale) }}" class="tooltip-password" target="_blank">{{ 'calendar.registration.tooltip-username' | trans }}</a>
    </div>
    <% if(register) { %>
    <div class="pure-u-1 pure-u-md-1-2">
        <div class="password-container">
            <input autocomplete="new-password" class="input password<%= errors.password && ' error' %>" type="password" name="password" placeholder="* {{ 'form.password' | trans | raw }}">
            <a class="toggle-password"></a>
        </div>
        <div class="error-message"><%= errors.password %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <a href="{{ localePath('aide-saisie', app.request.locale) }}" class="tooltip-password" target="_blank">{{ 'calendar.registration.tooltip-pass' | trans }}</a>
    </div>
    <% } %>

    <div class="pure-u-1 pure-u-md-1-2" style="margin-top:16px;">
        <input autocomplete="off" class="input profession" type="text" value="<%= _.escape(participant.profession) %>" name="profession" placeholder="{{ 'form.profession' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <hr>
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <select class="select transport <%= (_.escape(participant.transport) != '') ? 'white' : '' %><%= errors.transport && ' error' %>" name="transport">
            <option <%= (_.escape(participant.transport) == '') ? 'selected' : '' %> disabled value="">* {{ 'form.transport' | trans | raw }}</option>
            <option <%= (_.escape(participant.transport) == 'perso') ? 'selected' : '' %> value="perso">{{ 'form.transport.perso' | trans | raw }}</option>
            <option <%= (_.escape(participant.transport) == 'train') ? 'selected' : '' %> value="train">{{ 'form.transport.train' | trans | raw }}</option>
            <option <%= (_.escape(participant.transport) == 'avion') ? 'selected' : '' %> value="avion">{{ 'form.transport.avion' | trans | raw }}</option>
        </select>
        <div class="error-message"><%= errors.transport %></div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 lieu-wrapper <% if (participant.transport !== 'train') { %> hidden <% } %>">
        <select class="select lieu <%= (_.escape(participant.lieu.toLowerCase()) != '') ? 'white' : '' %>" name="lieu">
            <% if (registrationLocation === 'ro') { %>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == '') ? 'selected' : '' %> disabled value="">{{ 'form.lieu' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'viotte') ? 'selected' : '' %> value="viotte">{{ 'form.lieu.viotte' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'besancon-tgv') ? 'selected' : '' %> value="besancon-tgv">{{ 'form.lieu.besancon-tgv' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'ne-sait-pas') ? 'selected' : '' %> value="ne-sait-pas">{{ 'form.lieu.ne-sait-pas' | trans | raw }}</option>
            <% } else { %>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == '') ? 'selected' : '' %> disabled value="">{{ 'form.lieu' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'perpignan') ? 'selected' : '' %> value="perpignan">{{ 'form.lieu.perpignan' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'maureillas') ? 'selected' : '' %> value="maureillas">{{ 'form.lieu.maureillas' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'saint-jean') ? 'selected' : '' %> value="saint-jean">{{ 'form.lieu.saint-jean' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'ne-sait-pas') ? 'selected' : '' %> value="ne-sait-pas">{{ 'form.lieu.ne-sait-pas' | trans | raw }}</option>
            <% } %>
        </select>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 arriv-wrapper <% if (participant.transport !== 'train') { %> hidden <% } %>">
        <input autocomplete="off" class="input arriv" value="<%= _.escape(participant.arriv) %>" name="arriv" type="text" data-inputmask="'mask': '99:99'" pattern="[0-2][0-9]:[0-5][0-9]" placeholder="{{ 'form.arriv' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <textarea class="textarea memo" name="memo" placeholder="{{ 'form.memo' | trans | raw }}"><%= _.escape(participant.memo) %></textarea>
    </div>
    <% if (register) { %>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-2">
        <!-- Offset -->
    </div>
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-1-4">
        <a href="#" class="button cancel input" data-redirect-url="{{ path('calendar-' ~ currentLocale) }}">{{ 'form.cancel' | trans | raw }}</a>
    </div>
    <% } else { %>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-2">
        <!-- Offset -->
    </div>
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-1-4">
        <a href="#" class="button cancel input" data-redirect-url="{{ path('calendar-choice-site-' ~ currentLocale) }}">{{ 'form.cancel' | trans | raw }}</a>
    </div>
    <% } %>
    <% if (register) { %>
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-1-4">
        <input autocomplete="off" class="input button submit" type="submit" value="{{ 'form.submit' | trans | raw }}">
    </div>
    <% } else { %>
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-1-4">
        <input autocomplete="off" class="input button validateFormParticipant" type="submit" value="{{ 'form.submit' | trans | raw }}">
    </div>
    <% } %>
</script>
<script type="text/template" class="him-form-template">
    <input autocomplete="off" type="hidden" value="<%= _.escape(participant.codco) %>" name="codco">
    <input autocomplete="off" type="hidden" value=<%= participant.check %> name="check">
    <div class="pure-u-1 pure-u-md-1-2">
        <select class="select coltyp <%= (_.escape(participant.coltyp) != '') ? 'white' : '' %><%= errors.coltyp && ' error' %>" name="coltyp">
            <option <%= (_.escape(participant.coltyp) == '') ? 'selected' : '' %> disabled value="">* {{ 'form.relation' | trans | raw }}</option>
            <option <%= (_.escape(participant.coltyp) == 'conjo') ? 'selected' : '' %> value="conjo">Conjoint</option>
            <option <%= (_.escape(participant.coltyp) == 'enfan') ? 'selected' : '' %> value="enfan">Fille ou fils</option>
            <option <%= (_.escape(participant.coltyp) == 'accom') ? 'selected' : '' %> value="accom">Autre</option>
        </select>
        <div class="error-message"><%= errors.coltyp %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <select class="select colp <%= (_.escape(participant.colp) != '') ? 'white' : '' %><%= errors.colp && ' error' %>" name="colp">
            <option <%= (_.escape(participant.colp) == '') ? 'selected' : '' %> disabled value="">* {{ 'form.colp' | trans | raw }}</option>
            <option <%= (_.escape(participant.colp) == _.escape(you.codco)) ? 'selected' : '' %> value="<%= _.escape(you.codco) %>"><%= _.escape(you.prenom) + ' ' + _.escape(you.nom) %></option>
            <% for (var i = 0; i < registered.length; i++) { %>
                <% var him = registered[i] %>
                <% if (_.escape(participant.codco) != _.escape(him.codco)) { %>
                <option <%= (_.escape(participant.colp) == _.escape(him.codco)) ? 'selected' : '' %> value="<%= _.escape(him.codco) %>"><%= _.escape(him.prenom) + ' ' + _.escape(him.nom) %></option>
                <% } %>
            <% } %>
        </select>
        <div class="error-message"><%= errors.colp %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <select class="select civil <%= (_.escape(participant.civil) != '') ? 'white' : '' %><%= errors.civil && ' error' %>" name="civil">
            <option <%= (_.escape(participant.civil) == '') ? 'selected' : '' %> disabled value="">* {{ 'form.civil' | trans | raw }}</option>
            <% for (var i = 0; i < civilites.length; i++) { %>
                <option <%= (_.escape(participant.civil) == civilites[i]) ? 'selected' : '' %> value="<%= civilites[i] %>"><%= civilites[i] %></option>
            <% } %>
        </select>
        <div class="error-message"><%= errors.civil %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input prenom<%= errors.prenom && ' error' %>" type="text" value="<%= _.escape(participant.prenom) %>" name="prenom" placeholder="* {{ 'form.surname' | trans | raw }}">
        <div class="error-message"><%= errors.prenom %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input nom<%= errors.nom && ' error' %>" type="text" value="<%= _.escape(participant.nom) %>" name="nom" placeholder="* {{ 'form.name' | trans | raw }}">
        <div class="error-message"><%= errors.nom %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1 newfich-wrapper">
        <a href="#" class="input button radio newfich <%= participant.newfich == 'true' && 'checked' %>">{{ 'form.newfich' | trans | raw }}</a>
        <input class="hidden checkbox newfich" value="<%= _.escape(participant.newfich) %>" name="newfich" type="text">
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <textarea class="textarea adresse" name="adresse" placeholder="{{ 'form.address' | trans | raw }}"><%= _.escape(participant.adresse) %></textarea>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input cp" type="text" value="<%= _.escape(participant.cp) %>" name="cp" placeholder="{{ 'form.zipcode' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input ville" type="text" value="<%= _.escape(participant.ville) %>" name="ville" placeholder="{{ 'form.city' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <select class="select pays <%= (_.escape(participant.pays) != '') ? 'white' : '' %>" name="pays">
            <option <%= (_.escape(participant.pays) == '') ? 'selected' : '' %> disabled value="">{{ 'form.country' | trans | raw }}</option>
                <% for (var i = 0; i < preferredCountries.length; i++) { %>
                <% var country = preferredCountries[i] %>
                <% var selectedCountry = 'FR' %>
                <% if (_.escape(participant.pays) != '') { selectedCountry = _.escape(participant.pays) } %>
                <option <%= (selectedCountry == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
                <% } %>
            <option disabled>----------</option>
                <% for (var i = 0; i < countries.length; i++) { %>
                <% var country = countries[i] %>
                <option <%= (_.escape(participant.pays) == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
                <% } %>
        </select>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input mobil" type="text" pattern="([0-9][\s]?)+" value="<%= _.escape(participant.mobil) %>" name="mobil" placeholder="{{ 'form.mobile' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input tel" type="text" pattern="([0-9][\s]?)+" value="<%= _.escape(participant.tel) %>" name="tel" placeholder="{{ 'form.phone' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="off" class="input email" type="email" value="<%= _.escape(participant.email) %>" name="email" placeholder="{{ 'form.email' | trans | raw }}" maxlength="40">
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="off" class="input datnaiss<%= errors.datnaiss && ' error' %>" data-inputmask="'mask': '99/99/9999'" data-inputmask-showmaskonfocus="false" type="text" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="<%= (_.escape(participant.datnaiss) !== '') ? moment(_.escape(participant.datnaiss)).format('DD/MM/YYYY') : '' %>" name="datnaiss" placeholder="{{ 'form.birthday' | trans | raw }} *">
        <div class="error-message"><%= errors.datnaiss %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="off" class="input profession" type="text" value="<%= _.escape(participant.profession) %>" name="profession" placeholder="{{ 'form.profession' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <hr>
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <select class="select transport <%= (_.escape(participant.transport) != '') ? 'white' : '' %><%= errors.transport && ' error' %>" name="transport">
            <option <%= (_.escape(participant.transport) == '') ? 'selected' : '' %> disabled value="">* {{ 'form.transport' | trans | raw }}</option>
            <option <%= (_.escape(participant.transport) == 'perso') ? 'selected' : '' %> value="perso">{{ 'form.transport.perso' | trans | raw }}</option>
            <option <%= (_.escape(participant.transport) == 'train') ? 'selected' : '' %> value="train">{{ 'form.transport.train' | trans | raw }}</option>
            <option <%= (_.escape(participant.transport) == 'avion') ? 'selected' : '' %> value="avion">{{ 'form.transport.avion' | trans | raw }}</option>
        </select>
        <div class="error-message"><%= errors.transport %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 lieu-wrapper <% if (participant.transport !== 'train') { %> hidden <% } %>">
        <select class="select lieu <%= (_.escape(participant.lieu.toLowerCase()) != '') ? 'white' : '' %>" name="lieu">
            <option <%= (_.escape(participant.lieu.toLowerCase()) == '') ? 'selected' : '' %> disabled value="">{{ 'form.lieu' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'viotte') ? 'selected' : '' %> value="viotte">{{ 'form.lieu.viotte' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'besancon-tgv') ? 'selected' : '' %> value="besancon-tgv">{{ 'form.lieu.besancon-tgv' | trans | raw }}</option>
            <option <%= (_.escape(participant.lieu.toLowerCase()) == 'ne-sait-pas') ? 'selected' : '' %> value="ne-sait-pas">{{ 'form.lieu.ne-sait-pas' | trans | raw }}</option>
        </select>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 arriv-wrapper <% if (participant.transport !== 'train') { %> hidden <% } %>">
        <input autocomplete="off" class="input arriv" value="<%= _.escape(participant.arriv) %>" name="arriv" type="text" data-inputmask="'mask': '99:99'" pattern="[0-2][0-9]:[0-5][0-9]" placeholder="{{ 'form.arriv' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <textarea class="textarea memo" name="memo" placeholder="{{ 'form.memo' | trans | raw }}"><%= _.escape(participant.memo) %></textarea>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-2">
        <!-- Offset -->
    </div>
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-1-4">
        <a href="#" class="button cancel input" data-redirect-url="{{ path('calendar-choice-site-' ~ currentLocale) }}">{{ 'form.cancel' | trans | raw }}</a>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-1-4">
        <input autocomplete="off" class="input button validateFormParticipant" type="submit" value="{{ 'form.submit' | trans | raw }}">
    </div>
</script>
<script type="text/template" class="end-message-template">
    <% if (participants.length) { %>
        <% for (var i = 0; i < participants.length; i++) { %>
        <% var him = participants[i] %>
            <tr>
                <td><%= _.escape(him.civil) %> <%= _.escape(him.prenom) %> <%= _.escape(him.nom) %></td>
                <td><%= transports[_.escape(him.transport)]  %></td>
                <td><%= lieux[_.escape(him.lieu.toLowerCase())] %></td>
                <td><%= _.escape(him.arriv) %></td>
            </tr>
        <% } %>
    <% } %>
</script>
<script src="{{ asset("assets/js/calendar-registration.js") }}"></script>
{% endblock %}
