{% set bodyClass = "calendar" %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/calendar.css") }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="zone">
        <h1><small>{{ page.title }} </small>{{ page.subTitle }}</h1>
        <div class="flex">
            <div class="filters">
                <span class="toggle">{{ 'filter.button.show' | trans }}</span>
                {% include 'parts/filter.html.twig' with {
                    'name': 'site',
                    'items': sites,
                    'title': 'filter.title.site' | trans,
                    'abbreviation': true } %}
                {% include 'parts/filter.html.twig' with {
                    'name': 'type',
                    'items': types,
                    'title': 'filter.title.type' | trans,
                    'abbreviation': true } %}
                <form class="filter-dates">
                    <span class="title">Dates</span>
                    <div class="date-in">{{ 'filter.inner.date.in' | trans }} <span></span></div>
                    <input class="date-in-value" name="dateIn" type="hidden">
                    <div class="calendar-in"></div>
                    <div class="date-out">{{ 'filter.inner.date.out' | trans }} <span></span></div>
                    <input class="date-out-value" name="dateOut" type="hidden">
                    <div class="calendar-out"></div>
                </form>
                {% include 'parts/filter.html.twig' with {
                    'name': 'speaker',
                    'items': speakers,
                    'title': 'filter.title.speakers' | trans,
                    'abbreviation': false } %}
                {% include 'parts/filter.html.twig' with {
                    'name': 'translation',
                    'items': translations,
                    'title': 'filter.title.translations' | trans,
                    'abbreviation': false } %}
                <form class="filter-keywords">
                    <span class="title">{{ 'filter.title.keyword' | trans }}</span>
                    <input autocomplete="nope" type="text" name="keywords" placeholder="{{ 'filter.inner.keyword' | trans }}">
                </form>
                <a class="filter-raz" href="#reset">{{ 'filter.raz.button' | trans }}</a>
            </div>
            <table class="retreats-table">
                <thead>
                    <tr>
                        <th class="dates">{{ 'retreats.table.head.dates' | trans }}</th>
                        <th class="sites center">{{ 'retreats.table.head.site' | trans }}</th>
                        <th class="events">{{ 'retreats.table.head.event' | trans }}</th>
                        <th class="speakers">{{ 'retreats.table.head.speakers' | trans }}</th>
                        <th class="types center">{{ 'retreats.table.head.type' | trans }}</th>
                        <th class="durations center">{{ 'retreats.table.head.duration' | trans }}</th>
                        <th class="translations center">{{ 'retreats.table.head.translations' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/template" class="calendar-template">
    <div class="clndr-controls">
        <div class="clndr-control-button">
            <span class="clndr-previous-button">previous</span>
        </div>
        <div class="month"><%= month %> <%= year %></div>
        <div class="clndr-control-button rightalign">
            <span class="clndr-next-button">next</span>
        </div>
    </div>
    <table class="clndr-table" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="header-days">
            <% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
                <td class="header-day"><%= daysOfTheWeek[i] %></td>
            <% } %>
            </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < numberOfRows; i++){ %>
            <tr>
            <% for(var j = 0; j < 7; j++){ %>
            <% var d = j + i * 7; %>
                <td class="<%= days[d].classes %>">
                    <div class="day-contents"><%= ('0' + days[d].day).slice(-2) %></div>
                </td>
            <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>
    <span class="clndr-close">Fermer</span>
</script>
<script type="text/template" class="retreats-template">
<% var lastMonth = 0 %>
<% for (var i = 0; i < retreats.length; i++) { %>
    <% if (retreats[i].dateIn.format('M') !== lastMonth) { %>
    <% var lastMonth = retreats[i].dateIn.format('M') %>
    <tr class="month">
        <td colspan="8">
            <%= retreats[i].dateIn.format('MMMM YYYY') %>
        </td>
    </tr>
    <% } %>
    <tr 
        class="retreat <%= (!retreats[i + 1] || retreats[i + 1].dateIn.format('M') !== lastMonth) ? 'last' : '' %>"
        onclick="window.location.href = '{{ url('register_calendar' ~ '-' ~ app.request.locale) }}?id=<%= retreats[i].id %>'">
        <td class="dates">
            <span class="bullet"></span>
            <span class="fadeline"></span>
            <%= retreats[i].dateIn.format('Do MMM') %> - <%= retreats[i].dateOut.format('Do MMM') %>
        </td>
        <td
            class="site center"
            style="color: <%= retreats[i].site.color %>"
            title="<%= retreats[i].site.name %>">
            <%= retreats[i].site.abbr %>
        </td>
        <td class="event"><%= retreats[i].event %></td>
        <td class="speaker"><%= _.pluck(retreats[i].speaker, 'name').join('<br>') %></td>
        <td
            class="type center"
            style="color: <%= retreats[i].type.color %>"
            title="<%= retreats[i].type.name %>">
            <%= retreats[i].type.abbr %>
        </td>
        <td class="duration center"><%= retreats[i].duration %> {{ 'calendar.days' | trans }}</td>
        <td class="translation center"><%= retreats[i].translation %></td>
    </tr>
<% } %>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
<script type="text/json" class="retreats-data">{{ retreatsData | raw }}</script>
<script src="{{ asset("assets/js/calendar.js") }}"></script>
{% endblock %}
