{% set bodyClass = "page gift" %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/gift.css") }}">
{% endblock %}
{% block content %}
{% include 'parts/loader.html.twig' %}
{% include 'parts/popup.html.twig' %}
<div class="content">
    <div class="left">
        <h1>{{ 'gift.title' | trans | raw }}</h1>
        <div class="intro">
            {{ 'gift.intro' | trans({'%link%': path('dons')}) | raw }}
        </div>
        <div class="dropdown">
             <div class="item amount">
                <h2>{{ 'gift.amount' | trans | raw }}</h2>
                <div class="panel amount active">
                    <form class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-5">
                            <a href="#50" class="input button radio" rel="nofollow">50</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-5">
                            <a href="#100" class="input button radio" rel="nofollow">100</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-5">
                            <a href="#150" class="input button radio" rel="nofollow">150</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-5">
                            <a href="#300" class="input button radio" rel="nofollow">300</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-5">
                            <a href="#" class="input button radio other" rel="nofollow">{{ 'form.other' | trans | raw }} ?</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2 hidden">
                            <input class="input amount" required type="text" pattern="([0-9])+" name="amount" placeholder="* {{ 'form.other' | trans | raw }}">
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2 amount-render"></div>
                    </form>
                </div>
            </div>
             <div class="item allocation">
                <h2>{{ 'gift.four.title' | trans | raw }}</h2>
                <div class="panel allocation active">
                    <form class="form allocation">
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <select class="select select-allocation" required>
                                    <option selected disabled value="">* {{ 'form.choose.allocation' | trans }}</option>
                                    <option value="Libre">{{ 'select.allocation.libre' | trans }}</option>
                                    <option value="VieCom">{{ 'select.allocation.viecom' | trans }}</option>
                                    <option value="Itin">{{ 'select.allocation.itin' | trans }}</option>
                                    <option value="RochTx">{{ 'select.allocation.rochtx' | trans }}</option>
                                    <option value="FontTx">{{ 'select.allocation.fonttx' | trans }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-1">
                                <textarea class="textarea gift-note" placeholder="{{ 'form.gift.note' | trans }}"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="item payment">
                <h2>{{ 'gift.choose.payment' | trans | raw }}</h2>
                <div class="panel payment active">
                    <form class="form payment">
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-5">
                                <label>{{ 'payment.cb'|trans }}</label>
                                <a href="#PBX" class="input button radio" rel="nofollow">{{ 'payment.cb'|trans }}</a>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-5">
                                <label>{{ 'payment.paypal'|trans }}</label>
                                <a href="#PAYPAL" class="input button radio" rel="nofollow">{{ 'payment.paypal'|trans }}</a>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-5">
                                <label>{{ 'payment.virement'|trans }}</label>
                                <a href="#VIR" class="input button radio" rel="nofollow">{{ 'payment.virement'|trans }}</a>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-5">
                                <label>{{ 'payment.cheque'|trans }}</label>
                                <a href="#CH" class="input button radio" rel="nofollow">{{ 'payment.cheque'|trans }}</a>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-5">
                                <label>{{ 'payment.virement_reg'|trans }}</label>
                                <a href="#VIRREG" class="input button radio" rel="nofollow">{{ 'payment.virement_reg'|trans }}</a>
                            </div>
                            <input required type="hidden" name="payment_method">
                        </div>
                    </form>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-2-3">
                            <p>
                                {{ 'tax.title'|trans }}
                            </p>
                            <p class="reduction">
                                {{ 'global.tax-code'|trans|raw }}
                            </p>
                        </div>
                    </div>
                    {% if routeExists('securite-donnees') %}
                        {% set secure_link = path('securite-donnees') %}
                    {% else %}
                        {% set secure_link = '#' %}
                    {% endif %}
                    <a href="{{ localePath('securite-donnees', app.request.locale) }}" target="_blank" rel="nofollow">{{ 'global.secure-datas'|trans }}</a>
                    <form class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                            <input id="submitAmount" class="input button submit" type="submit" value="{{ 'form.validate' | trans | raw }}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="item prelevement hidden">
                <h2>{{ 'gift.two.title' | trans | raw }}</h2>
                <div>
                    <div>{{ 'gift.virement.descr' | trans | raw }} :</div>
                    <br>
                    <form class="form prelevement">
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <label class="hidden virement-reg" for="date_virement">{{ 'gift.virementreg.date' | trans | raw }} :</label>
                                <label class="hidden virement" for="date_virement">{{ 'gift.virement.date' | trans | raw }} :</label>
                                <input autocomplete="nope" data-inputmask="'mask': '99/99/9999'" class="input date_virement" required type="text" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" name="date_virement">
                                <select class="select select-period hidden">
                                    <option selected disabled value="">{{ 'form.choose.period' | trans }}</option>
                                    <option value="select.period.monthly">{{ 'select.period.monthly' | trans }}</option>
                                    <option value="select.period.trimestre">{{ 'select.period.trimestre' | trans }}</option>
                                    <option value="select.period.semestre">{{ 'select.period.semestre' | trans }}</option>
                                </select>
                                <div class="pure-g">
                                    <div class="pure-u-1 pure-u-md-1-3">
                                        <input id="submitPrelevement" class="input button submit" type="submit" value="{{ 'form.validate' | trans | raw }}">
                                    </div>
                                    <div class="pure-u-1 pure-u-md-1-3">
                                        <input class="input button back" value="{{ 'form.back' | trans | raw }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="item connection">
                <h2>{{ 'gift.one.title' | trans | raw }}</h2>
                {% if app.user %}
                    <p>{{ 'gift.one.body.connected' | trans({ '%name%': app.user.prenom ~ ' ' ~ app.user.nom }) | raw }}</p>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1 pure-u-xl-1-4">
                            <a href="#continue" class="button continue" rel="nofollow">{{ 'form.continue' | trans | raw }}</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1 pure-u-xl-1-4">
                            <a href="#disconnect" class="button disconnect" rel="nofollow">{{ 'form.disconnect' | trans | raw }}</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1 pure-u-xl-1-4">
                            <a class="button back">{{ 'form.back' | trans | raw }}</a>
                        </div>
                    </div>
                {% else %}
                    <p>{{ 'gift.one.body.disconnected' | trans | raw }}</p>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-4">
                            <a href="#connection" class="button yes" rel="nofollow">{{ 'form.yes' | trans | raw }}</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-4">
                            <a href="#registration" class="button no" rel="nofollow">{{ 'form.no' | trans | raw }}</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-4">
                            <a class="button back">{{ 'form.back' | trans | raw }}</a>
                        </div>
                    </div>
                    <div class="panel connection">
                        <h3>{{ 'gift.one.title.connection' | trans | raw }}</h3>
                        <form class="pure-g connection">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <input autocomplete="nope" class="input username" required type="text" name="username" placeholder="* {{ 'form.username' | trans | raw }}">
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2">
                                <input autocomplete="nope" class="input password" required type="password" name="password" placeholder="* {{ 'form.password-login' | trans | raw }}">
                            </div>
                            <div class="pure-u-1 pure-u-md-1-4">
                                <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.ok' | trans | raw }}">
                            </div>
                        </form>
                        <a class="option" href="#reset" rel="nofollow">{{ 'form.password.reset'|trans }}</a>
                    </div>
                    <div class="panel registration">
                        <h3>{{ 'gift.one.title.registration' | trans | raw }}</h3>
                        <form class="pure-g you-form-render"></form>
                    </div>
                    <div class="panel reset">
                        <h3>{{ 'form.password.reset'|trans|raw }}</h3>
                        <form class="pure-g reset">
                            <div class="pure-u-1 pure-u-md-1">
                                <input autocomplete="nope" class="input email" required type="text" name="email" placeholder="{{ 'form.email.please' | trans | raw }}">
                            </div>
                            <div class="pure-u-1 pure-u-md-1">
                                <input autocomplete="nope" class="input lastname" required type="text" name="lastname" placeholder="{{ 'form.lastname.please' | trans | raw }}">
                            </div>
                            <div class="pure-u-1 pure-u-md-1">
                                <input autocomplete="nope" class="input firstname" required type="text" name="firstname" placeholder="{{ 'form.firstname.please' | trans | raw }}">
                            </div>
                            <div class="pure-u-1 pure-u-md-1-4">
                                <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.ok' | trans | raw }}">
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="right">
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
<script type="text/json" class="countries-json">
    {{ countries | json_encode() | raw }}
</script>
<script type="text/json" class="locale-json">
    {{ currentLocale }}
</script>
<script type="text/template" class="you-template">
    <div class="you">
        <p><%= you.prenom %> <%= you.nom %><br>
            <%= you.adresse %> <%= you.cp %> <%= you.ville %> (<%= you.pays %>)</p>
    </div>
</script>
<script type="text/template" class="amount-template">
    <div class="pure-u-1 pure-u-md-2-1">
        <p><%= reduction %></p>
    </div>
</script>
<script type="text/template" class="you-form-template">
    <input autocomplete="nope" type="hidden" value="<%= you.codco %>" name="codco">
    <input autocomplete="nope" type="hidden" value=<%= you.check %> name="check">
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <select class="select civil <%= (you.civil != '') ? 'white' : '' %><%= errors.civil && ' error' %>" required name="civil">
            <option <%= (you.civil == '') ? 'selected' : '' %> disabled value="">* {{ 'form.civil' | trans | raw }}</option>
            <% for (var i = 0; i < civilites.length; i++) { %>
                <option <%= (you.civil == civilites[i]) ? 'selected' : '' %> value="<%= civilites[i] %>"><%= civilites[i] %></option>
            <% } %>
        </select>
        <div class="error-message"><%= errors.civil %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="nope" class="input prenom<%= errors.prenom && ' error' %>" required type="text" value="<%= you.prenom %>" name="prenom" placeholder="* {{ 'form.surname' | trans | raw }}">
        <div class="error-message"><%= errors.prenom %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="nope" class="input nom<%= errors.nom && ' error' %>" required type="text" value="<%= you.nom %>" name="nom" placeholder="* {{ 'form.name' | trans | raw }}">
        <div class="error-message"><%= errors.nom %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1">
        <textarea class="textarea adresse<%= errors.adresse && ' error' %>" required name="adresse" placeholder="* {{ 'form.address' | trans | raw }}"><%= you.adresse %></textarea>
        <div class="error-message"><%= errors.adresse %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="nope" class="input cp<%= errors.cp && ' error' %>" required type="text" value="<%= you.cp %>" name="cp" placeholder="* {{ 'form.zipcode' | trans | raw }}">
        <div class="error-message"><%= errors.cp %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <input autocomplete="nope" class="input ville<%= errors.ville && ' error' %>" required type="text" value="<%= you.ville %>" name="ville" placeholder="* {{ 'form.city' | trans | raw }}">
        <div class="error-message"><%= errors.ville %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1 pure-u-xl-1-3">
        <select class="select pays <%= (you.pays != '') ? 'white' : '' %><%= errors.pays && ' error' %>" required name="pays">
            <option <%= (you.pays == '') ? 'selected' : '' %> disabled value="">* {{ 'form.country' | trans | raw }}</option>
            <% for (var i = 0; i < countries.length; i++) { %>
                <% var country = countries[i] %>
                <option <%= (you.pays == country.codpays) ? 'selected' : '' %> value="<%= country.codpays %>"><%= country.nompays %></option>
            <% } %>
        </select>
        <div class="error-message"><%= errors.pays %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="nope" class="input tel<%= errors.tel && ' error' %>" type="text" pattern="([0-9][\s]?)+" value="<%= you.tel %>" name="tel" placeholder="* {{ 'form.phone' | trans | raw }}">
        <div class="error-message"><%= errors.tel %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="nope" class="input mobil" type="text" pattern="([0-9][\s]?)+" value="<%= you.mobil %>" name="mobil" placeholder="{{ 'form.mobile' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="nope" class="input email<%= errors.email && ' error' %>" required type="email" value="<%= you.email %>" name="email" placeholder="{{ 'form.email' | trans | raw }}">
        <div class="error-message"><%= errors.email %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="nope" class="input username<%= errors.username && ' error' %>" required type="text" value="<%= _.escape(you.username) %>" name="username" placeholder="{{ 'form.username' | trans | raw }}">
        <div class="error-message"><%= errors.username %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 password-container">
        <input autocomplete="nope" class="input password<%= errors.password && ' error' %>" type="password" name="password" placeholder="* {{ 'form.password' | trans | raw }}">
        <a class="toggle-password"></a>
        <div class="error-message"><%= errors.password %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="nope" data-inputmask="'mask': '99/99/9999'" class="input datnaiss" required type="text" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="<%= (you.datnaiss !== '') ? moment(you.datnaiss).format('DD/MM/YYYY') : '' %>" name="datnaiss" placeholder="* {{ 'form.birthday' | trans | raw }}">
        <div class="error-message"><%= errors.datnaiss %></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <input autocomplete="nope" class="input profession<%= errors.datnaiss && ' error' %>" type="text" value="<%= you.profession %>" name="profession" placeholder="{{ 'form.profession' | trans | raw }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-2">
        <!-- Offset -->
    </div>
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-1-4">
        <a href="#" class="button cancel input" rel="nofollow">{{ 'form.cancel' | trans | raw }}</a>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-1-4">
        <input autocomplete="nope" class="input button submit" type="submit" value="{{ 'form.submit' | trans | raw }}">
    </div>
</script>
<script src="{{ asset("assets/js/gift.js") }}"></script>
{% endblock %}
