{% set bodyClass = "home section-1-active" %}
{% block title %}{{ page.title ~ ' ' ~ page.subTitle }} - La Roche d'Or{% endblock %}
{% block metadescription %}<meta name="description" content="{{ page.description }}">{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}
{% block content %}
<h1>Communauté de la Roche d'Or</h1>
<div class="intro">
    <div class="element">
        <div class="logo"></div>
    </div>
</div>
<img class="background desktop" src="{{ asset('assets/img/background-home-desktop.jpg') }}" />
<img class="background mobile" src="{{ asset('assets/img/background-home-mobile.jpg') }}" />
<div class="overlay"></div>
<div class="sections">
    <div class="section section-1">
        <div class="box">
            <h2>
                <small>{{page.content['sections'][0].title|raw}}</small>
                {% if 'sub_title' in page.content['sections'][0]|keys %}
                {{page.content['sections'][0].sub_title|raw}}
                {% endif %}
            </h2>
            {{page.content['sections'][0].body|raw}}
            <a class="button yellow" href="{{ localePath('la-communaute', app.request.locale)}}">Découvrir</a>
        </div>
        <div class="scroll-down">
            <img src="{{ asset('assets/img/scroll.png') }}" alt="Déroulez pour voir la suite">
        </div>
        {% if lastNews %}
            <div class="nouveautes">
                <h2>Nouveautés</h2>
                <i>{{lastNews.intro}}</i>
                <div class="text">
                    <p>{{lastNews.description}}</p>
                </div>
                <a class="button black" href="{{lastNews.url}}">Lire la suite</a>
            </div>
        {% endif %}
    </div>
    <div class="section section-2">
        <div class="box">
            <h2>
                <small>{{page.content['sections'][1].title|raw}}</small>
                {% if 'sub_title' in page.content['sections'][1]|keys %}
                {{page.content['sections'][1].sub_title|raw}}
                {% endif %}
            </h2>
            {{page.content['sections'][1].body|raw}}
            <a class="button yellow" href="{{ localePath('venir-en-retraite', app.request.locale)}}">Découvrir</a>
        </div>
    </div>
    <div class="section section-3">
        <div class="box">
            <h2>
                <small>{{page.content['sections'][2].title|raw}}</small>
                {% if 'sub_title' in page.content['sections'][2]|keys %}
                {{page.content['sections'][2].sub_title|raw}}
                {% endif %}
            </h2>
            {{page.content['sections'][2].body|raw}}
            <a class="button yellow" href="{{ localePath('liste-retraites', app.request.locale)}}">Découvrir</a>
        </div>
    </div>
    <div class="section section-4">
        <div class="box">
            <h2>
                <small>{{page.content['sections'][3].title|raw}}</small>
                {% if 'sub_title' in page.content['sections'][3]|keys %}
                {{page.content['sections'][3].sub_title|raw}}
                {% endif %}
            </h2>
            {{page.content['sections'][3].body|raw}}
            <a class="button yellow" href="{{ localePath('dons', app.request.locale)}}">Découvrir</a>
        </div>
    </div>
    <div class="section section-5">
        <div class="box">
            <h2>
                <small>{{page.content['sections'][4].title|raw}}</small>
                {% if 'sub_title' in page.content['sections'][4]|keys %}
                {{page.content['sections'][4].sub_title|raw}}
                {% endif %}
            </h2>
            {{page.content['sections'][4].body|raw}}
            <a class="button yellow" href="{{ localePath('editions', app.request.locale) }}">Découvrir</a>
        </div>
    </div>
    <div class="section section-6">
        <div class="box">
            <h2>
                <small>{{page.content['sections'][5].title|raw}}</small>
                {% if 'sub_title' in page.content['sections'][5]|keys %}
                {{page.content['sections'][5].sub_title|raw}}
                {% endif %}
            </h2>
            {{page.content['sections'][5].body|raw}}
            <a class="button yellow" href="{{ localePath('contact-ro', app.request.locale) }}">Découvrir</a>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset("assets/js/home.js") }}"></script>
{% endblock %}
