{% set sections = [] %}
{% set bodyClass = "page" %}
{% set bodyBackground = page.background %}
{% extends 'base.html.twig' %}
{% block content %}
<div class="content">
    <div class="left">
        <div class="inner">
            <h1><small>{{ page.title }} </small>{{ page.subTitle }}</h1>
            {% if page.content.intro %}
            <div class="intro">
                {{ page.content.intro | raw }}
            </div>
            {% endif %}
            <div class="dropdown {% if page.content.sections|length == 1 %}single{% endif %}">
                {% for section in page.content.sections %}
                <div class="item"
                    data-carousel-id="{{ section.title|md5 }}">
                    <h2>{{ section.title }}</h2>
                    {{ section.body | raw }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
        {% for section in page.content['sections'] %}
        <div class="carousel {% if loop.first %}active{% endif %}"
            data-carousel-element="{{ section.title|md5 }}">
            <div class="slides">
                {% for slide in section.slides %}
                <div class="slide {% if loop.first %}active{% endif %}">
                    {% include 'parts/carousel/layout-' ~ slide.layout ~ '.html.twig'
                    with { 'images': slide.images } %}
                </div>
                {% endfor %}
            </div>
            {% if section.slides|length > 1 %}
            <div class="prev"></div>
            <div class="next"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset("assets/js/page.js") }}"></script>
{% endblock %}
