{% block title %}{{ page.title ~ ' ' ~ page.subTitle }} - La Roche d'Or{% endblock %}
{% block metadescription %}
<meta name="description" content="{{ page.description }}">{% endblock %}
{% set bodyClass = 'page' %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}">
{% if page.type and page.type != 'page' %}
<link rel="stylesheet" href="{{ asset('assets/css/' ~ page.type ~ '.css') }}">
{% endif %}
{% endblock %}
{% block content %}
<div class="content fade-in">
    <div class="left">
        <h1><small>{{ page.title }} </small>{{ page.subTitle }}</h1>
        {% if page.content.intro %}
        <div class="intro">
            {{ page.content.intro | raw }}
        </div>
        {% endif %}
        <div class="dropdown {% if page.content.sections|length == 1 %}single{% endif %}">
            <!--{% for section in page.content.sections %}
            <div
                class="item" {% if section.title|length > 24 %}item-long{% endif %}
                data-slug-id="#{{ section.title|slugify }}"
                data-carousel-id="{{ section.title|md5 }}">
                <a class="slug" href="{{ currentPath ~ '#' ~ section.title|slugify }}">
                    <h2>{{ section.title }}</h2>
                </a>
                {{ section.body | raw }}
                {% set images = [] %}
                {% for slide in section.slides %}
                    {% for image in slide.images %}
                        {% if image.url %}
                            {% set images = images|merge([image]) %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="carousel {% if loop.first %}active{% endif %}"
                    data-carousel-element="{{ section.title|md5 }}">
                    <div class="slides">
                        {% for image in images %}
                            <div class="slide {% if loop.first %}active{% endif %}">
                                {% include 'parts/carousel/layout-2.html.twig'
                                with { 'images': [image] } %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if images|length > 1 %}
                    <div class="prev"></div>
                    <div class="next"></div>
                    {% endif %}-->
            {% for section in page.content['sections'] %}
            <div class="carousel {% if loop.first %}active{% endif %}" data-carousel-element="{{ section.title|md5 }}">
                <div class="slides">
                    {% for slide in section.slides %}
                    <div class="slide {% if loop.first %}active{% endif %}">
                        {% include 'parts/carousel/layout-' ~ slide.layout ~ '.html.twig'
                    with { 'images': slide.images } %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
        {% for section in page.content['sections'] %}
        <div class="carousel {% if loop.first %}active{% endif %}" data-carousel-element="{{ section.title|md5 }}">
            <div class="slides">
                {% for slide in section.slides %}
                <div class="slide {% if loop.first %}active{% endif %}">
                    {% include 'parts/carousel/layout-' ~ slide.layout ~ '.html.twig'
                    with { 'images': slide.images } %}
                </div>
                {% endfor %}
            </div>
            {% if section.slides|length > 1 %}
            <div class="prev"></div>
            <div class="next"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/js/page.js') }}"></script>
{% if page.type == 'editions' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
<script src="{{ asset("assets/js/cartcount.js") }}"></script>
{% endif %}
{% endblock %}