<div class="footer">
    <div class="hover" style="{{ bodyBackground|default(0)|constantBackground }}">
        <div class="bottom">
            <div class="column">
                <span>{{ 'menu.one' | trans | raw | striptags }}</span>
                <a href={{ localePath('la-communaute', app.request.locale)}} rel="nofollow">{{ 'menu.one.one' | trans | raw | striptags }}</a>
                <a href="{{ localePath('aux-origines', app.request.locale) }}" rel="nofollow">{{ 'menu.one.two' | trans | raw | striptags }}</a>
                <a href="{{ localePath('la-rochedor', app.request.locale) }}" rel="nofollow">{{ 'menu.one.three' | trans | raw | striptags }}</a>
                <a href="{{ localePath('les-fontanilles', app.request.locale) }}" rel="nofollow">{{ 'menu.one.four' | trans | raw | striptags }}</a>
            </div>
            <div class="column">
                <span>{{ 'menu.two' | trans | raw | striptags }}</span>
                <a href={{ localePath('venir-en-retraite', app.request.locale) }} rel="nofollow">{{ 'menu.two.one' | trans | raw | striptags }}</a>
                <a href={{ localePath('retraites-a-la-roche-dor', app.request.locale)}} rel="nofollow">{{ 'menu.two.two' | trans | raw | striptags }}</a>
                <a href={{ localePath('retraites-aux-fontanilles', app.request.locale)}} rel="nofollow">{{ 'menu.two.three' | trans | raw | striptags }}</a>
                <a href={{ path('speakers-' ~ app.request.locale)}} rel="nofollow">{{ 'menu.two.four' | trans | raw | striptags }}</a>
                <a href={{ path('calendar-' ~ app.request.locale) }} rel="nofollow">{{ 'menu.two.five' | trans | raw | striptags }}</a>
            </div>
            <div class="column">
                <span class="disabled" title="{{ 'edition.comingSoon'|trans }}">{{ 'menu.five' | trans | raw | striptags }}</span>
                <a href="" class="disabled" title="{{ 'edition.comingSoon'|trans }}" rel="nofollow">{{ 'menu.five.one' | trans | raw | striptags }}</a>
                <a href="" class="disabled" title="{{ 'edition.comingSoon'|trans }}" rel="nofollow">{{ 'menu.five.two' | trans | raw | striptags }}</a>
                <a href="" class="disabled" title="{{ 'edition.comingSoon'|trans }}" rel="nofollow">{{ 'menu.five.three' | trans | raw | striptags }}</a>
            </div>
            <div class="column">
                <span>{{ 'footer.four' | trans | raw | striptags }}</span>
                <a href="{{ localePath('infos-pratiques-de-la-roche-dor', app.request.locale) }}" rel="nofollow">{{ 'menu.four.one' | trans | raw | striptags }}</a>
                <a href="{{ localePath('infos-pratiques-des-fontanilles', app.request.locale) }}" rel="nofollow">{{ 'menu.four.two' | trans | raw | striptags }}</a>
                <a href="{{ localePath('accueil-des-enfants', app.request.locale) }}" rel="nofollow">{{ 'footer.four.three' | trans | raw | striptags }}</a>
                <a href="{{ localePath('conditions-utilisation', app.request.locale) }}" rel="nofollow">{{ 'terms.of.use' | trans | raw | striptags }}</a>
                <a href="{{ localePath('mentions-legales', app.request.locale) }}" rel="nofollow">{{ 'legal.mention' | trans | raw | striptags }}</a>
                <a href="{{ localePath('confidentialite-des-donnees', app.request.locale) }}" rel="nofollow">{{ 'footer.privacy'|trans }}</a>
                {% if product is defined or (page is defined and page.type == 'editions') %}
                <a href={{ localePath('cgv', app.request.locale) }} rel="nofollow">{{ 'footer.terms'|trans }}</a>
                <a href={{ localePath('cgv-pro', app.request.locale) }} rel="nofollow">{{ 'footer.termsPro'|trans }}</a>
                {% endif %}
            </div>
            <div class="column">
                <span>{{ 'footer.five' | trans | raw | striptags }}</span>
                <a href="{{ localePath('don-ponctuel', app.request.locale) }}" rel="nofollow">{{ 'menu.six.one' | trans | raw | striptags }}</a>
                <a href="{{ localePath('dons', app.request.locale) }}" rel="nofollow">{{ 'menu.six.two' | trans | raw | striptags }}</a>
                <a href="{{ url('contact', {'site': 'ro'}) }}" rel="nofollow">{{ 'contact.ro' | trans | raw | striptags }}</a>
                <a href="{{ url('contact', {'site': 'ft'}) }}" rel="nofollow">{{ 'contact.ft' | trans | raw | striptags }}</a>
                <a href="{{ localePath('liens-amis', app.request.locale) }}" rel="nofollow">{{ 'friends.links' | trans | raw | striptags }}</a>
            </div>
        </div>
    </div>
</div>