<div class="footer">
    <div class="hover" {% if bodyClass != 'home' %}style="{{ bodyBackground|default(0)|constantBackground }}"{% endif %}>
        <div class="bottom">
            <div class="column">
                <span>La communauté</span>
                <a href="#">La communauté</a>
                <a href="#">Les fondateurs</a>
                <a href="#">La Roche d'Or</a>
                <a href="#">Les Fontanilles</a>
            </div>
            <div class="column">
                <span>Les retraites</span>
                <a href="#">Qui vient en retraite ?</a>
                <a href="#">Les retraites</a>
                <a href="#">Les intervenants</a>
                <a href="#">Le calendrier</a>
            </div>
            <div class="column">
                <span>Les Editions Roche d'Or</span>
                <a href="#">Les nouveautés</a>
                <a href="#">Les collections</a>
                {% if
                    routeExists('cgv')
                    and (
                        product is defined
                        or (
                            page is defined
                            and page.type == 'editions'
                        )
                    )
                %}
                <a href="{{ path('cgv') }}">{{ 'footer.terms'|trans }}</a>
                {% endif %}
                {% if
                    routeExists('cgv-pro')
                    and (
                        product is defined
                        or (
                            page is defined
                            and page.type == 'editions'
                        )
                    )
                %}
                <a href="{{ path('cgv-pro') }}">{{ 'footer.termsPro'|trans }}</a>
                {% endif %}
            </div>
            <div class="column">
                <span>Informations pratiques</span>
                <a href="#">Conditions d'utilisation</a>
                <a href="#">Mentions légales</a>
                <a href="#">Liens amis</a>
                <a href="#">Nous soutenir</a>
            </div>
            <div class="column">
                <span>Contacts</span>
                <a href="{{ url('contact', {'site': 'ro'}) }}">La Roche d'Or</a>
                <a href="{{ url('contact', {'site': 'ft'}) }}">Les Fontanilles</a>
            </div>
        </div>
    </div>
</div>