<div class="footer">
    <div class="hover" {% if bodyClass != 'home' %}style="{{ bodyBackground|default(0)|constantBackground }}"{% endif %}>
        <div class="bottom">
            <div class="column">
                <span>{{ 'menu.one.one' | trans | raw | striptags }}</span>
                <a href="#">{{ 'menu.one.one' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.one.two' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.one.three' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.one.four' | trans | raw | striptags }}</a>
            </div>
            <div class="column">
                <span>{{ 'menu.two' | trans | raw | striptags }}</span>
                <a href="#">{{ 'menu.two.one' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.two.four' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.three' | trans | raw | striptags }}</a>
            </div>
            <div class="column">
                <span>{{ 'menu.five' | trans | raw | striptags }}</span>
                <a href="#">{{ 'menu.five.two' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.five.three' | trans | raw | striptags }}</a>
                {% if
                    routeExists('cgv')
                    and (
                        product is defined
                        or (
                            page is defined
                            and page.type == 'editions'
                        )
                    )
                %}
                <a href="{{ path('cgv') }}">{{ 'footer.terms'|trans }}</a>
                {% endif %}
                {% if
                    routeExists('cgv-pro')
                    and (
                        product is defined
                        or (
                            page is defined
                            and page.type == 'editions'
                        )
                    )
                %}
                <a href="{{ path('cgv-pro') }}">{{ 'footer.termsPro'|trans }}</a>
                {% endif %}
            </div>
            <div class="column">
                <span>{{ 'menu.four' | trans | raw | striptags }}</span>
                <a href="#">{{ 'menu.terms' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.legal' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.four.four' | trans | raw | striptags }}</a>
                <a href="#">{{ 'menu.six' | trans | raw | striptags }}</a>
            </div>
            <div class="column">
                <span>{{ 'contacts' | trans | raw | striptags }}</span>
                <a href="{{ url('contact', {'site': 'ro'}) }}">{{ 'menu.one.three' | trans | raw | striptags }}</a>
                <a href="{{ url('contact', {'site': 'ft'}) }}">{{ 'menu.one.four' | trans | raw | striptags }}</a>
            </div>
        </div>
    </div>
</div>