<div class="header">
    <div class="left">
        <ul class="menu">
            <li data-menu="vgbhnj">
                <span>{{ 'menu.one' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="vgbhnj">
                    <li><a href="{{ localePath('la-communaute', app.request.locale) }}">{{ 'menu.one.one' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('les-fondateurs', app.request.locale) }}">{{ 'menu.one.two' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('la-rochedor', app.request.locale) }}">{{ 'menu.one.three' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('les-fontanilles', app.request.locale) }}">{{ 'menu.one.four' | trans | raw }}</a></li>
                </ul>
            </li>
            <li data-menu="gyhuji">
                <span>{{ 'menu.two' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="gyhuji">
                    <li><a href="{{ localePath('venir-en-retraite', app.request.locale) }}">{{ 'menu.two.one' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('retraites-a-la-roche-dor', app.request.locale) }}">{{ 'menu.two.two' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('retraites-aux-fontanilles', app.request.locale) }}">{{ 'menu.two.three' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('intervenants', app.request.locale) }}">{{ 'menu.two.four' | trans | raw }}</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ localePath('liste-retraites', app.request.locale) }}">{{ 'menu.three' | trans | raw }}</a>
            </li>
        </ul>
    </div>
    <div class="logo">
        <a class="normal" href="/">
            <img src="{{ asset('assets/img/logo.png') }}" alt="La Roche d'Or">
        </a>
        <a class="editions" href="{{ localePath('editions-nouveautes', app.request.locale) }}">
            <img src="{{ asset('assets/img/logo-editions.png') }}" alt="Les Editions Roche d'Or">
        </a>
    </div>
    <div class="right">
        <ul class="menu">
            <li data-menu="hbgvfc">
                <span>{{ 'menu.four' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="hbgvfc">
                    <li><a href="{{ localePath('infos-pratiques-de-la-roche-dor', app.request.locale) }}">{{ 'menu.four.one' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('infos-pratiques-des-fontanilles', app.request.locale) }}">{{ 'menu.four.two' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('accueil-des-enfants', app.request.locale) }}">{{ 'menu.four.three' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('liens-amis', app.request.locale) }}">{{ 'menu.four.four' | trans | raw }}</a></li>
                </ul>
            </li>
            <li data-menu="qzsedr">
                <span>{{ 'menu.five' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="qzsedr">
                    <li class="blank"></li>
                    <li class="blank"></li>
                    <li><a href="{{ localePath('editions', app.request.locale) }}">{{ 'menu.five.one' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('editions-nouveautes', app.request.locale) }}">{{ 'menu.five.two' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('editions-collections', app.request.locale) }}">{{ 'menu.five.three' | trans | raw }}</a></li>
                </ul>
            </li>
            <li data-menu="defrgt">
                <span>{{ 'menu.six' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="defrgt">
                    <li class="blank"></li>
                    <li class="blank"></li>
                    <li class="blank"></li>
                    <li class="blank"></li>
                    <li class="blank"></li>
                    <li><a href="{{ localePath('donner-du-temps', app.request.locale) }}">{{ 'menu.six.one' | trans | raw }}</a></li>
                    <li><a href="{{ localePath('dons', app.request.locale) }}">{{ 'menu.six.two' | trans | raw }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="options">
        <span class="cart-container full-screen">
            {% if
                product is defined
                or (
                    page is defined
                    and page.type == 'editions'
                )
            %}
            <a href="{{ path('order-' ~ app.request.locale) }}" class="cart">
                <span class="cartSpan">{{ 'menu.cart' | trans }}</span>
                <img src="/assets/img/cartMobile.png" alt="Panier">
                <small class="cartCount-render"></small>
            </a>
            {% endif %}
        </span>
        <div class="languages">
            <ul class="available">
                {% if availableLocales is defined %}
                {% for locale, url in availableLocales %}
                {% if locale != app.request.locale %}
                <li><a href={{ url }}>{{ locale }}</a></li>
                {% endif %}
                {% endfor %}
                {% else %}
                {% set route = app.request.attributes.get('_route') %}
                {% if route %}
                {% set route_params = app.request.attributes.get('_route_params') %}
                {% set params = route_params|merge(app.request.query.all) %}
                {% for locale in locales %}
                {% if locale != app.request.locale %}
                <li><a href="{{ path(route, params|merge({ _locale: locale })) }}">{{ locale }}</a></li>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endif %}
            </ul>
            <ul class="current">
                <li><a href={{ currentPath }}>{{ currentLocale }}</a></li>
            </ul>
        </div>
        <ul class="zoom">
            <li class="minus">A -</li>
            <li class="plus">A +</li>
        </ul>
    </div>
    <div class="burger">    
        <span class="cart-container menu-reduced">
            {% if
                product is defined
                or (
                    page is defined
                    and page.type == 'editions'
                )
            %}
            <a href="{{ path('order-' ~ app.request.locale) }}" class="cart">
                <span class="cartSpan">{{ 'menu.cart' | trans }}</span>
                <img src="/assets/img/cartMobile.png" alt="Panier">
                <small class="cartCount-render"></small>
            </a>
            {% endif %}
        </span>
    </div>
</div>
<script type="text/template" class="cartCount-template">
    <% if (cartCount > 0) { %>
        <span class="counter"><%= cartCount %></span>
    <% } %>
</script>