<div class="header">
    <div class="left">
        <ul class="menu">
            <li data-menu="vgbhnj">
                <span>{{ 'menu.one' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="vgbhnj">
                    <li><a tabindex="-1" href="{{ localePath('la-communaute', app.request.locale) }}">{{ 'menu.one.one' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="#">{{ 'menu.one.two' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="#">{{ 'menu.one.three' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="#">{{ 'menu.one.four' | trans | raw }}</a></li>
                </ul>
            </li>
            <li data-menu="gyhuji">
                <span>{{ 'menu.two' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="gyhuji">
                    <li><a tabindex="-1" href="{{ localePath('venir-en-retraite', app.request.locale) }}">{{ 'menu.two.one' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="{{ localePath('retraites-a-la-roche-dor', app.request.locale) }}">{{ 'menu.two.two' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="{{ localePath('retraites-aux-fontanilles', app.request.locale) }}">{{ 'menu.two.three' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="{{ localePath('intervenants', app.request.locale) }}">{{ 'menu.two.four' | trans | raw }}</a></li>
                </ul>
            </li>
            <li>
                <a tabindex="-1" href="{{ localePath('liste-retraites', app.request.locale) }}">{{ 'menu.three' | trans | raw }}</a>
            </li>
        </ul>
    </div>
    <div class="logo">
        <a class="normal" tabindex="-1" href="/">
            <img src="{{ asset('assets/img/logo.png') }}" alt="La Roche d'Or">
        </a>
        <a class="editions" tabindex="-1" href="/">
            <img src="{{ asset('assets/img/logo-editions.png') }}" alt="Les Editions Roche d'Or">
        </a>
    </div>
    <div class="right">
        <ul class="menu">
            <li data-menu="hbgvfc">
                <span>{{ 'menu.four' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="hbgvfc">
                    <li><a tabindex="-1" href="{{ localePath('infos-pratiques-de-la-roche-dor', app.request.locale) }}">{{ 'menu.four.one' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="{{ localePath('infos-pratiques-des-fontanilles', app.request.locale) }}">{{ 'menu.four.two' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="{{ localePath('accueil-des-enfants', app.request.locale) }}">{{ 'menu.four.three' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="#">{{ 'menu.four.four' | trans | raw }}</a></li>
                </ul>
            </li>
            <li data-menu="qzsedr">
                <span>{{ 'menu.five' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="qzsedr">
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <li><a tabindex="-1" href="{{ localePath('editions', app.request.locale) }}">{{ 'menu.five.one' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="{{ localePath('editions-nouveautes', app.request.locale) }}">{{ 'menu.five.two' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="{{ localePath('editions-collections', app.request.locale) }}">{{ 'menu.five.three' | trans | raw }}</a></li>
                </ul>
            </li>
            <li data-menu="defrgt">
                <span>{{ 'menu.six' | trans | raw }}</span>
                <ul class="sub-menu" data-menu="defrgt">
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <li><a tabindex="-1" href="{{ localePath('donner-du-temps', app.request.locale) }}">{{ 'menu.six.one' | trans | raw }}</a></li>
                    <li><a tabindex="-1" href="{{ localePath('dons', app.request.locale) }}">{{ 'menu.six.two' | trans | raw }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="options">
        {% if cartCount is defined %}
        <a tabindex="-1" href="{{ path('order-' ~ app.request.locale) }}" class="cart">
            {{ 'menu.cart' | trans }}
            {% if cartCount > 0 %}
            <span>{{ cartCount }}</span>
            {% endif %}
        </a>
        {% endif %}
        <div class="languages">
            <ul class="available">
                {% if availableLocales is defined %}
                {% for locale, url in availableLocales %}
                {% if locale != app.request.locale %}
                <li><a tabindex="-1" href={{ url }}>{{ locale }}</a></li>
                {% endif %}
                {% endfor %}
                {% else %}
                {% set route = app.request.attributes.get('_route') %}
                {% if route %}
                {% set route_params = app.request.attributes.get('_route_params') %}
                {% set params = route_params|merge(app.request.query.all) %}
                {% for locale in locales %}
                {% if locale != app.request.locale %}
                <li><a tabindex="-1" href="{{ path(route, params|merge({ _locale: locale })) }}">{{ locale }}</a></li>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endif %}
            </ul>
            <ul class="current">
                <li><a tabindex="-1" href={{ currentPath }}>{{ currentLocale }}</a></li>
            </ul>
        </div>
        <ul class="zoom">
            <li class="minus">A -</li>
            <li class="plus">A +</li>
        </ul>
    </div>
    <div class="burger"></div>
</div>
