<div class="header">
    <div class="options">
        {% if cartCount is defined %}
        <a href="{{ path('order-' ~ app.request.locale) }}" class="cart">
            {{ 'menu.cart' | trans }}
            {% if cartCount > 0 %}
            <span>{{ cartCount }}</span>
            {% endif %}
        </a>
        {% endif %}
        <div class="languages">
            <ul class="available">
                {% if availableLocales is defined %}
                {% for locale, url in availableLocales %}
                {% if locale != app.request.locale %}
                <li><a href={{ url }}>{{ locale }}</a></li>
                {% endif %}
                {% endfor %}
                {% else %}
                {% set route = app.request.attributes.get('_route') %}
                {% set route_params = app.request.attributes.get('_route_params') %}
                {% set params = route_params|merge(app.request.query.all) %}
                {% for locale in locales %}
                {% if locale != app.request.locale %}
                <li><a href="{{ path(route, params|merge({ _locale: locale })) }}">{{ locale }}</a></li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
            <ul class="current">
                <li><a href={{ currentPath }}>{{ currentLocale }}</a></li>
            </ul>
        </div>
        <ul class="zoom">
            <li class="minus">A -</li>
            <li class="plus">A +</li>
        </ul>
    </div>
    <div class="left">
        <ul class="menu">
            <li data-menu="vgbhnj">{{ 'menu.one' | trans | raw }}</li>
            <li data-menu="gyhuji">{{ 'menu.two' | trans | raw }}</li>
            <li><a href="{{ path('calendar-' ~ app.request.locale) }}">{{ 'menu.three' | trans | raw }}</a></li>
        </ul>
        <ul class="sub-menu" data-menu="vgbhnj">
            <li><a href="#">{{ 'menu.one.one' | trans | raw }}</a></li>
            <li><a href="#">{{ 'menu.one.two' | trans | raw }}</a></li>
            <li><a href="#">{{ 'menu.one.three' | trans | raw }}</a></li>
            <li><a href="#">{{ 'menu.one.four' | trans | raw }}</a></li>
        </ul>
        <ul class="sub-menu" data-menu="gyhuji">
            <li><a href="#">{{ 'menu.two.one' | trans | raw }}</a></li>
            <li><a href="#">{{ 'menu.two.two' | trans | raw }}</a></li>
            <li><a href="#">{{ 'menu.two.three' | trans | raw }}</a></li>
            <li><a href="{{ path('intervenants') }}">{{ 'menu.two.four' | trans | raw }}</a></li>
        </ul>
    </div>
    <div class="logo">
        <a class="normal" href="/">
            <img src="{{ asset('assets/img/logo.png') }}" alt="La Roche d'Or">
        </a>
        <a class="editions" href="/">
            <img src="{{ asset('assets/img/logo-editions.png') }}" alt="Les Editions Roche d'Or">
            <span>Les Editions<br>de la Roche d'Or</span>
        </a>
    </div>
    <div class="right">
        <ul class="menu">
            <li data-menu="hbgvfc">{{ 'menu.four' | trans | raw }}</li>
            <li data-menu="qzsedr">{{ 'menu.five' | trans | raw }}</li>
            <li data-menu="defrgt">{{ 'menu.six' | trans | raw }}</li>
        </ul>
        <ul class="sub-menu" data-menu="hbgvfc">
            <li><a href="#">{{ 'menu.four.one' | trans | raw }}</a></li>
            <li><a href="#">{{ 'menu.four.two' | trans | raw }}</a></li>
            <li><a href="#">{{ 'menu.four.three' | trans | raw }}</a></li>
            <li><a href="#">{{ 'menu.four.four' | trans | raw }}</a></li>
        </ul>
        <ul class="sub-menu" data-menu="qzsedr">
            <div class="blank"></div>
            <div class="blank"></div>
            {% if routeExists('editions') %}<li><a href="{{ path('editions') }}">{{ 'menu.five.one' | trans | raw }}</a></li>{% endif %}
            <li><a href="{{ path('collections-news-' ~ currentLocale) }}">{{ 'menu.five.two' | trans | raw }}</a></li>
            <li><a href="{{ path('collections-' ~ currentLocale) }}">{{ 'menu.five.three' | trans | raw }}</a></li>
        </ul>
        <ul class="sub-menu" data-menu="defrgt">
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <li><a href="#">{{ 'menu.six.one' | trans | raw }}</a></li>
            {% if routeExists('dons') %}<li><a href="{{ path('dons') }}">{{ 'menu.six.two' | trans | raw }}</a></li>{% endif %}
        </ul>
    </div>
</div>
