<a href="{{ url('collection-' ~ app.request.locale, { id: product.codprd }) }}" class="product">
    <div class="illustration" style="{{ asset(product.adimg)|imagine_filter('product_card')|background }}"></div>
    <div class="description">
        <div class="title">
            <h3>{{ product.produitcourt }}</h3>
        </div>
        <div class="price">
            {{ product.prix }}<small>€</small>
        </div>
        <div class="cart" data-id="{{ product.codprd }}">
            <img src="{{ asset('assets/img/cart.svg') }}" width="25px" alt="Panier">
        </div>
        <div class="text">
            <div class="short">
                <p>{{ product.pageprd | truncate(110, true) }}</p>
            </div>
            <div class="long">
                <p>{{ product.pageprd | truncate(500, true) }}</p>
            </div>
        </div>
    </div>
</a>