<div class="product">
    <a class="link" href="{{ url('collection-' ~ app.request.locale, { id: product.codprd }) }}"></a>
    <div class="illustration" style="{{ asset(product.adimg) | background }}"></div>
    <div class="description">
    <a class="title" href="{{ url('collection-' ~ app.request.locale, { id: product.codprd }) }}">
        <h3>{{ product.produitcourt }}</h3>
    </a>
    <a class="price" href="{{ url('collection-' ~ app.request.locale, { id: product.codprd }) }}">
        {{ product.prix }}<small>€</small>
    </a>
    <a class="cart" href="{{ url('collection-' ~ app.request.locale, { id: product.codprd }) }}">
        <img src="{{ asset('assets/img/cart.png') }}" alt="Panier">
    </a>
    <div class="text">
        <div class="short">
        <p>{{ product.pageprd | truncate(110, true) }}</p>
        </div>
        <div class="long">
        <p>{{ product.pageprd | truncate(500, true) }}</p>
        </div>
    </div>
    </div>
</div>