<a href="{{ url('collection-' ~ app.request.locale, { id: product.codprd }) }}" class="product">
    <div class="illustration" style="{{ (kiwi_host ~ (product.adimg)|url_encode|replace({'%2F':'/', '%3A': ':'}))|background }}"></div>
    <div class="description">
        {% if product.serie %}
        <div class="serie">
            {{ product.serie }}
        </div>
        {% endif %}
        <div class="title">
            <h3>{{ product.produitcourt }}</h3>
        </div>
        <div class="price">
            {{ product.prix }}<small>€</small>
        </div>
        <div class="cart" data-id="{{ product.codprd }}">
            <img src="{{ asset('assets/img/cart.svg') }}" width="25px" alt="Panier">
        </div>
        <div class="text">
            <div class="short">
                {% if page is defined and page == 'selections' %}
                    {{ product.memoprd | truncate(110, true) | nl2br }}
                {% else %}
                    {{ product.presentation | truncate(110, true) | nl2br }}
                {% endif %}
            </div>
            <div class="long">
                {% if page is defined and page == 'selections' %}
                    {{ product.memoprd | truncate(500, true) | nl2br }}
                {% else %}
                    {{ product.presentation | truncate(500, true) | nl2br }}
                {% endif %}
            </div>
        </div>
    </div>
</a>