{% set bodyClass = "editions list" %}
{% set bodyBackground = 7 %}
{% block title %}{{ page.title ~ ' ' ~ page.subTitle }} - La Roche d'Or{% endblock %}
{% block metadescription %}<meta name="description" content="{{ page.description }}">{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/editions.css') }}">
{% endblock %}
{% block content %}
{% include 'parts/popup.html.twig' %}
{% set filters_collection = app.request.get('collection') %}
{% set filters_locale = app.request.get('localeFilter') %}
{% set filters_themes = app.request.get('themes') %}
{% set filters_themes_array = filters_themes|split('|') %}
{% set collections_array = [] %}
{% for collection in collections %}
{% set collections_array = collections_array | merge({ ('collection-' ~ collection.codrub): collection.rubrique }) %}
{% endfor %}
<div class="content">
  <div class="zone">
    <h1><small>{{ page.title }} </small>{{ page.subTitle }}</h1>
    <span class="show-filters button">{{ 'editions.filter.show' | trans }}</span>
    <div class="filters">
      <span class="title">{{ 'editions.filters.title' | trans }}</span>
      <div class="box">
        <div class="filter collections {% if filters_themes != null %}disabled{% endif %}">
          <span class="label">{{ 'editions.filter.collections.title' | trans }}</span>
          <form>
            <select class="select" {% if filters_themes != null %}disabled{% endif %} required name="collection">
              <option value="" {% if filters_collection == null %}selected="selected"{% endif %}>{{ 'editions.filter.collections.choose' | trans }}</option>
              {% for collection in collections %}
              <option value="{{ collection.codrub }}" {% if filters_collection == collection.codrub %}selected="selected"{% endif %}>
                {{ collection.rubrique }}
              </option>
              {% endfor %}
            </select>
            <select class="select" {% if filters_themes != null %}disabled{% endif %} required name="localeFilter">
              <option value="" {% if filters_locale == null %}selected="selected"{% endif %}>{{ 'editions.filter.locale.choose' | trans }}</option>
              {% for locale in locales %}
              <option value="{{ locale.value }}" {% if filters_locale == locale.value %}selected="selected"{% endif %}>
                {{ locale.name }}
              </option>
              {% endfor %}
            </select>
          </form>
        </div>
      </div>
      <div class="box no-border-top">
        <form class="filter-form-themes" method="GET" action="{{ path('collections-' ~ app.request.locale) }}">
          <div class="filter themes {% if filters_collection != null or filters_locale != null %} disabled{% endif %}">
            <span class="label">{{ 'editions.filter.themes.title' | trans }}</span>
              <select class="select" required name="support">
                <option value="">{{ 'editions.filter.support.choose' | trans }}</option>
                {% for support in supports %}
                  <option value="{{ support.value }}" {% if support.selected %}selected="selected"{% endif %}>
                    {{ support.name }}
                  </option>
                {% endfor %}
              </select>
              <select class="select" required name="author">
                <option value="">{{ 'editions.filter.author.choose' | trans }}</option>
                {% for author in authors %}
                  <option value="{{ author.value }}" {% if author.selected %}selected="selected"{% endif %}>
                    {{ author.name }}
                  </option>
                {% endfor %}
              </select>
              <select class="select" required name="gender">
                <option value="">{{ 'editions.filter.gender.choose' | trans }}</option>
                {% for gender in genders %}
                  <option value="{{ gender.value }}" {% if gender.selected %}selected="selected"{% endif %}>
                    {{ gender.name }}
                  </option>
                {% endfor %}
              </select>
              <select class="select" required name="theme">
                <option value="">{{ 'editions.filter.theme.choose' | trans }}</option>
                {% for theme in themes %}
                  <option value="{{ theme.value }}" {% if theme.selected %}selected="selected"{% endif %}>
                    {{ theme.name }}
                  </option>
                {% endfor %}
              </select>
              <input class="value" type="hidden" name="themes" value="{{ filters_themes }}" />
          </div>
        </form>
        <div class="buttons-filter">
          <a class="raz button" href="{{ currentPath }}">{{ 'filter.raz.button' | trans }}</a>
          <a class="search button" href="{{ currentPath }}">{{ 'filter.research' | trans }}</a>
        </div>
      </div>
    </div>
    {% if productsCategorized %}
      {% for category in productsCategorized %}
        <div class="category">
          <h2><small>{{ 'collection' | trans }} </small>{{ category.title }}</h2>
          <div class="products">
          {% for product in category.products %}
            {% include 'parts/product.html.twig'
              with { 'product': product } %}
          {% endfor %}
          </div>
          {% if category.products|length > 1 %}
          <a class="button right-arrow"  href="{{ currentPath ~ '?collection=' ~ category.id }}">{{ 'editions.seeallproducts' | trans }}<img class="button-arrow visible" src="{{ asset('assets/img/button-arrow-right-black.png') }}"><img class="button-arrow hidden" src="{{ asset('assets/img/button-arrow-right-yellow.png') }}"></a>
          {% else %}
            <div class="empty-collection"></div>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
    {% if filters_collection %}<h2><small>{{ 'editions.filter.collections.title' | trans }} </small>{{ collections_array['collection-' ~ filters_collection] }}</h2>{% endif %}
    {% if filters_themes %}<h2><small>{{ 'editions.filter.themes.title' | trans }} </small>{{ filters_themes_array|join(', ') }}{% if filters_themes_array|length > 1 %}.{% endif %}</h2>{% endif %}
    {% for product in products %}
      {% if loop.index0 is even %}
      <div class="category">
        <div class="products">
          {% include 'parts/product.html.twig'
            with { 'product': product } %}
      {% if loop.last %}
        </div>
      </div>
      {% endif %}
      {% else %}
          {% include 'parts/product.html.twig'
            with { 'product': product } %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
<script src="{{ asset("assets/js/editions.js") }}"></script>
{% endblock %}