<html>
  <body>
    Page: 
    {{ dump(page) }}
    Locale: 
    {{ dump(avaiableLocales) }}
    Collections: 
    {{ dump(collections) }}
    Themes:
    {{ dump(themes) }}
    Products categorized:
    {{ dump(productsCategorized) }}
    Products
    {{ dump(products) }}
  </body>
</html>