{% set bodyClass = "editions news" %}
{% set bodyBackground = 7 %}
{% block title %}{{ page.title ~ ' ' ~ page.subTitle }} - La Roche d'Or{% endblock %}
{% block metadescription %}
    <meta name="description" content="{{ page.description }}">{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/editions.css') }}">
{% endblock %}
{% block content %}
    {% include 'parts/popup.html.twig' %}
    <div class="content">
        <div class="zone">
            <h1><small>{{ page.title }} </small>{{ page.subTitle }}</h1>
            {% for product in products %}
                    <div class="featured">
                        <div class="left">
                            <h2>{{ product.produitcourt }}</h2>
                            <p>{{ product.memoprd | truncate(170, true) | nl2br }}</p>
                            <a class="button right-arrow" href="{{ url('collection-' ~ app.request.locale, { id: product.codprd }) }}">{{ 'news.button.discover' | trans }}</a>
                        </div>
                        <div class="right" data-href="{{ url('collection-' ~ app.request.locale, { id: product.codprd }) }}" style="{{ asset(product.adimg)|imagine_filter('product_card')|background }}"></div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
    <script src="{{ asset("assets/js/carousel.js") }}"></script>
    <script src="{{ asset("assets/js/editions.js") }}"></script>
{% endblock %}
