{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>Taxes list</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Countries</th>
                    <th scope="col">Codpostaux</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tax in taxes %}
                <tr>
                    <td><a href="{{ path('admin_tax_show', { 'id': tax.id }) }}">{{ tax.id }}</a></td>
                    <td>{{ tax.name }}</td>
                    <td>{{ tax.rate }}</td>
                    <td>{% if tax.countries %}{{ tax.countries|join(', ') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_tax_show', { 'id': tax.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_tax_edit', { 'id': tax.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul>
        <li>
            <a href="{{ path('admin_tax_new') }}">Create a new tax</a>
        </li>
    </ul>
{% endblock %}
