<div class="top no-border">
    {% if (images[0].video == '') and images[0].url == '' %}
    <a></a>
    {% else %}
    <a class="left full no-border {% if (images[0].video) != '' %}iframe{% else %}image{% endif %}" title="{{ images[0].alt }}" alt="{{ images[0].alt }}" href="{% if (images[0].video != '') %}{{ asset(images[0].video) }}{% else %}{{ asset(images[0].url)|imagine_filter('page_carousel_full') }}{% endif %}" style="{{ asset(images[0].url)|imagine_filter('page_carousel_small')|background ~ (images[0].crop is defined ? images[0].crop|position : '') }}"></a>
    {% endif %}
    {% if (images[1].video == '') and images[0].url == '' %}
    <a></a>
    {% else %}
    <a class="right full no-border {% if (images[1].video) != '' %}iframe{% else %}image{% endif %}" title="{{ images[1].alt }}" alt="{{ images[1].alt }}" href="{% if (images[1].video != '') %}{{ asset(images[1].video) }}{% else %}{{ asset(images[1].url)|imagine_filter('page_carousel_full') }}{% endif %}" style="{{ asset(images[1].url)|imagine_filter('page_carousel_small')|background ~ (images[1].crop is defined ? images[1].crop|position : '') }}"></a>
    {% endif %}
</div>