<div class="top">
    <a class="left {% if (images[0].video) != '' %}iframe{% else %}image{% endif %}" title="{{ images[0].alt }}" href="{% if (images[0].video != '') %}{{ asset(images[0].video) }}{% else %}{{ asset(images[0].url) }}{% endif %}" style="{{ asset(images[0].url)|background }}"></a>
    <a class="right {% if (images[1].video) != '' %}iframe{% else %}image{% endif %}" title="{{ images[1].alt }}" href="{% if (images[1].video != '') %}{{ asset(images[1].video) }}{% else %}{{ asset(images[1].url) }}{% endif %}" style="{{ asset(images[1].url)|background }}"></a>
</div>