<div class="top">
    <a class="full {{ images[0].type }}" title="{{ images[0].alt }}" href="{% if (images[0].type == 'iframe') %}{{ asset(images[0].youtubeId) }}{% else %}{{ asset(images[0].url) }}{% endif %}" style="{{ asset(images[0].url)|background }}"></a>
</div>