<div class="top no-border">
    {% if (images[0].video == '') and images[0].url == '' %}
    <a></a>
    {% else %}
    <a class="full
        {% if (images[0].video) != '' %}
            iframe
        {% else %}
            image
        {% endif %}"
       title="{{ images[0].alt }}"
       alt="{{ images[0].alt }}"
       href="
        {% if (images[0].video != '') %}
            {{ asset(images[0].video) }}
        {% else %}
            {{ asset(images[0].url)|imagine_filter('page_carousel_full') }}
        {% endif %}" style="{{ asset(images[0].url)|imagine_filter('page_carousel_small') | background ~ (images[0].crop is defined ? images[0].crop|position : '')}}"></a>
    {% endif %}
</div>