{% set bodyClass = "page gift" %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/gift.css") }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="left">
        <div class="intro">
            {% if regular %}
                {% set period = period ~ '_label' %}
                {% set periodLabel = period|trans %}
                <p>{{ 'gift.payment.return.virement_regular'|trans({'%civility%': civility, '%name%': name, '%amount%': amount, '%period%': periodLabel})|raw }}</p>
            {% else %}
                <p>{{ 'gift.payment.return.virement'|trans({'%civility%': civility, '%name%': name, '%amount%': amount})|raw }}</p>
            {% endif %}
        </div>
        <div class="pure-g" style="justify-content: space-between">
            <div style="margin-bottom:32px;">
                <a class="button" href="{{ path('logout-message', {'from': 'don-ponctuel'}) }}">{{ 'logout.disconnect.title' | trans }}</a>
            </div>
            <div>
                <a class="button" href="{{ path('cancel_gift') }}">{{ 'other.gift-mode' | trans }}</a>
            </div>
        </div>
    </div>
    <div class="right">
    </div>
</div>
{% endblock %}
