{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>Shippings list</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Price</th>
                    <th scope="col">Countries</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for shipping in shippings %}
                <tr>
                    <td><a href="{{ path('admin_shipping_show', { 'id': shipping.id }) }}">{{ shipping.id }}</a></td>
                    <td>{{ shipping.name }}</td>
                    <td>{{ shipping.weight }}</td>
                    <td>{{ shipping.price }}</td>
                    <td>{% if shipping.countries %}{{ shipping.countries|join(', ') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_shipping_show', { 'id': shipping.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_shipping_edit', { 'id': shipping.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul>
        <li>
            <a href="{{ path('admin_shipping_new') }}">Create a new Shipping</a>
        </li>
    </ul>
{% endblock %}
