<p>Voici une demande de contact de <em>{{ mail['surname'] }} {{ mail['name'] }}</em> à destination de <strong>{{ mail['site'] }}</strong></p>
<p>Domicilié au {{ mail['address'] }} {{ mail['zipcode'] }} {{ mail['city'] }}</p>
<p> {{ mail['body'] }} </p>
<a href={{ mail['email'] }}>{{ mail['email'] }}</a></p>