<p>Voici une demande de contact de {{mail['name']}} {{mail['surname'] }} a déstination {{mail['site']}}</p>
<p>Domiciliée au {{mail['adress']}} {{mail['city']}}</p>
<p> cp : {{mail['zipcode']}} </p>
<p> {{mail['body']}} </p>
<a href={{mail['mail']}}>{{mail['mail']}}</a></p>