<html>
<body>
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <form action="{{ path('login-form') }}" method="post">
      <label for="username">{{ 'form.label.email'|trans }}</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" />
      <label for="password">{{ 'form.label.password'|trans }}</label>
      <input type="password" id="password" name="_password" />
      <button type="submit">{{ 'form.label.connection'|trans }}</button>
  </form>
  <a href="{{ path('register-form') }}"}>{{ 'security.register'|trans }}</a>
</body>
</html>