{% set bodyClass = "page" %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/pure-css-grids.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}">
{% endblock %}
{% block content %}
{% include 'parts/popup.html.twig' %}
<div class="content">
    <div class="left">
        <h1>{{ 'security.reset.title' | trans | raw }}</h1>
        {% if form is defined %}
        <div class="intro">
            <p>{{ 'security.reset.intro' | trans }}</p>
        </div>
        <div class="dropdown single">
            <div class="item first">
                <h2>Formulaire</h2>
                <div class="panel active">
                    {{ form_start(form)}}
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            {{ form_widget(form.password.first) }}
                        </div>
                        <div class="pure-u-1-2">
                            {{ form_widget(form.password.second) }}     
                        </div>
                        <div class="pure-u-4-24">
                            <input type="submit" class="input button submit" value="{{ 'form.label.submit'|trans }}" />
                        </div>
                    </div>
                    {{ form_rest(form)}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="intro">
            <p>{{ 'security.reset.token_not_found' | trans }}</p>
        </div>
        {% endif %}
    </div>
    <div class="hole">
    </div>
    <div class="right">
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% if form is defined %}
<script src="{{ asset('assets/js/page.js') }}"></script>
<script src="{{ asset('assets/js/password.js') }}"></script>
{% endif %}
{% endblock %}