{% set sections = [] %}
{% set bodyClass = "page" %}
{% set bodyBackground = 1 %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset("assets/css/pure-css-grids.css") }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="left">
        <div class="inner">
            <h1><small>Réinitialiser</small>Votre mot de passe</h1>
            <div class="dropdown single">
                <div class="intro">
                  <p>Veuillez renseigner votre nouveau mot de passe dans le formulaire ci-dessous</p>
                </div> 
                <div class="item">
                <h2>Formulaire</h2>
                {% if form is defined %}
                <div class="panel active">
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            {{ form_widget(form.password.first) }}
                        </div>
                        <div class="pure-u-1-2">
                            {{ form_widget(form.password.second) }}
                        </div>
                        <div class="pure-u-1-1">
                            <input type="submit" class="input button"value="{{ 'form.label.submit'|trans }}" />
                        </div>
                    </div>
                </div>
                {% else %}
                {{ 'security.reset.token_not_found'|trans }}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="hole">
    </div>
    <div class="right">
        <div class="carousel">
            <div class="slides">
                <div class="slide active">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset("assets/js/page.js") }}"></script>
{% endblock %}