<html>
<body>
{% if form is defined %}
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="{{ 'form.label.submit'|trans }}" />
{{ form_end(form) }}
{% else %}
{{ 'security.reset.token_not_found'|trans }}
{% endif %}
</body>
 </html>